<template id="template-base-facility-preview">
    <div class="flex-column">
        <div class="preview-header">
            <img class="preview-img-schematic" />
            <div class="preview-title"></div>
        </div>
        <div class="preview-description"></div>
    </div>
</template>

<template id="template-base-facility-page">
    <div class="section-content">
        <div class="details-header-row">
            <div class="details-header-img-container">
                <img />
            </div>
            <div class="details-header-content-container">
                <div class="details-header-title"></div>
                <div class="details-header-description"></div>
            </div>
        </div>
        <div id="base-facility-build" class="flex-single-row">
            <div id="base-facility-build-normal">
                <div class="column-heading">Normal Build</div>
                <div class="base-facility-build-content">
                    <div class="details-column-body" id="base-facility-normal-build-cost-container"></div>
                </div>
            </div>
            <div id="base-facility-build-quick">
                <div class="column-heading">Quick Build</div>
                <div class="base-facility-build-content">
                    <div class="details-column-body" id="base-facility-quick-build-cost-container"></div>
                </div>
            </div>
            <div id="base-facility-stats-container">
                <div class="column-heading">Facility Data</div>
                <div class="base-facility-stats-row">
                    <div class="row-heading base-facility-stats-heading">Prerequisite</div>
                    <div id="base-facility-prerequisite" class="base-facility-stats-value"></div>
                </div>
                <div class="base-facility-stats-row">
                    <div id="base-facility-power-label" class="row-heading base-facility-stats-heading">Power Provided</div>
                    <div id="base-facility-power-value" class="base-facility-stats-value"></div>
                </div>
                <div class="base-facility-stats-row">
                    <div class="row-heading base-facility-stats-heading">Maintenance</div>
                    <div id="base-facility-maintenance-cost" class="base-facility-stats-value"></div>
                </div>
                <div class="base-facility-stats-row" style="border-bottom: none">
                    <div class="row-heading base-facility-stats-heading">Adjacency Bonus</div>
                    <div id="base-facility-adjacency-type" class="base-facility-stats-value"></div>
                </div>
            </div>
        </div>
        <div id="base-facility-details-row">
            <div class="column-heading">Facility Information</div>
            <div class="details-column-body" id="base-facility-details"></div>
        </div>
    </div>
</template>