<template id="template-base-facilities-browse-page">
    <div class="section-content">
        <base-facility-browse-preview-header></base-facility-browse-preview-header>
        <base-facility-browse-preview facilityId="facility_access_lift"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_alien_containment"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_elerium_generator"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_fission_generator"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_foundry"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_genetics_lab"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_gollop_chamber"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_hyperwave_relay"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_laboratory"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_officer_training_school"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_psionic_labs"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_repair_bay"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_satellite_nexus"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_satellite_uplink"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_thermo_generator"></base-facility-browse-preview>
        <base-facility-browse-preview facilityId="facility_workshop"></base-facility-browse-preview>

    </div>
</template>