<template id="template-enemy-browse-page">
    <div id="enemy-browse-page">
        <info-box><div>These dates represent the latest points at which each enemy type can appear <strong>as pod leaders</strong>. Some enemies will appear before these dates as non-leaders;
        for example, a <in-app-link to="enemy_thin_man"></in-app-link>-led pod can contain <in-app-link to="enemy_seeker" linkText="Seekers"></in-app-link> in early April, regardless of the current Alien Research value.
        <in-app-link to="enemy_zombie" linkText="Zombies"></in-app-link> cannot be pod leaders, they can only accompany <in-app-link to="enemy_chryssalid" linkText="Chryssalids"></in-app-link>,  and thus they don't appear in this table at all.</div></info-box>
        <div class="enemy-browse-container">
            <div class="enemy-browse-column-header" data-tooltip-text="iMonth is an internal counter which goes up by 1 for every 28 points of Alien Research, meaning at its slowest, it goes up every 28 days. iMonth determines what enemies can appear on missions.">iMonth</div>
            <div class="enemy-browse-column-header" data-tooltip-template-file="assets/html/templates/custom-elements/enemy-infobox.html"
                                                    data-tooltip-template-id="enemy-tooltip-latest-appearance">Latest Appearance</div>
            <div class="enemy-browse-column-header">New Enemies (Normal)</div>
            <div class="enemy-browse-column-header">New Enemies (Terror)</div>

            <!-- iMonth 0 -->
            <div class="enemy-browse-imonth">0</div>
            <div class="enemy-browse-date">1 March, 2016 (Campaign Start)</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_sectoid"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_drone"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_chryssalid"></enemy-infobox>
            </div>

            <!-- iMonth 1 -->
            <div class="enemy-browse-imonth">1</div>
            <div class="enemy-browse-date">28 March, 2016</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_thin_man"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_floater"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_thin_man"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_floater"></enemy-infobox>
            </div>

            <!-- iMonth 2 -->
            <div class="enemy-browse-imonth">2</div>
            <div class="enemy-browse-date">25 April, 2016</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_seeker"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_muton"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_seeker"></enemy-infobox>
            </div>

            <!-- iMonth 3 -->
            <div class="enemy-browse-imonth">3</div>
            <div class="enemy-browse-date">23 May, 2016</div>
            <div class="enemy-browse-enemies">
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_cyberdisc"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_muton"></enemy-infobox>
            </div>

            <!-- iMonth 4 -->
            <div class="enemy-browse-imonth">4</div>
            <div class="enemy-browse-date">20 June, 2016</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_cyberdisc"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
            </div>

            <!-- iMonth 5 -->
            <div class="enemy-browse-imonth">5</div>
            <div class="enemy-browse-date">18 July, 2016</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_mechtoid"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_mechtoid"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_muton_berserker"></enemy-infobox>
            </div>

            <!-- iMonth 6 -->
            <div class="enemy-browse-imonth">6</div>
            <div class="enemy-browse-date">15 August, 2016</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_muton_berserker"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
            </div>

            <!-- iMonth 7 -->
            <div class="enemy-browse-imonth">7</div>
            <div class="enemy-browse-date">12 September, 2016</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_sectoid_commander"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_sectoid_commander"></enemy-infobox>
            </div>

            <!-- iMonth 8 -->
            <div class="enemy-browse-imonth">8</div>
            <div class="enemy-browse-date">10 October, 2016</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_heavy_floater"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_exalt_operative"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_exalt_heavy"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_exalt_medic"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_exalt_sniper"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_exalt_elite_operative"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_exalt_elite_heavy"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_exalt_elite_medic"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_exalt_elite_sniper"></enemy-infobox>
                <enemy-infobox tiny enemyId="enemy_heavy_floater"></enemy-infobox>
            </div>

            <!-- iMonth 9 -->
            <div class="enemy-browse-imonth">9</div>
            <div class="enemy-browse-date">7 November, 2016</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_muton_elite"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_muton_elite"></enemy-infobox>
            </div>

            <!-- iMonth 10 -->
            <div class="enemy-browse-imonth">10</div>
            <div class="enemy-browse-date">5 December, 2016</div>
            <div class="enemy-browse-enemies">
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_sectopod"></enemy-infobox>
            </div>

            <!-- iMonth 11 -->
            <div class="enemy-browse-imonth">11</div>
            <div class="enemy-browse-date">2 January, 2017</div>
            <div class="enemy-browse-enemies">
            </div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_ethereal"></enemy-infobox>
            </div>

            <!-- iMonth 12 -->
            <div class="enemy-browse-imonth">12</div>
            <div class="enemy-browse-date">30 January, 2017</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_ethereal"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
            </div>

            <!-- iMonth 13 -->
            <div class="enemy-browse-imonth">13</div>
            <div class="enemy-browse-date">27 February, 2017</div>
            <div class="enemy-browse-enemies">
                <enemy-infobox tiny enemyId="enemy_sectopod"></enemy-infobox>
            </div>
            <div class="enemy-browse-enemies">
            </div>
        </div>
    </div>
</template>