<template id="template-foundry-projects-browse-page">
    <section class="section js-section">
        <header class="section-header">
            <div class="section-wrapper">
                <img src="assets/img/misc-icons/foundry.png" /> Available Foundry Projects
            </div>
        </header>

        <div id="foundry-project-browse-content-section" class="section-content">
            <details>
                <summary>Aerospace (14)</summary>
                <foundry-project-browse-preview-header></foundry-project-browse-preview-header>
                <foundry-project-browse-preview projectId="foundry_aircraft_boosters"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_advanced_repair"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_armored_fighters"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_elerium_afterburners"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_improved_avionics"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_penetrator_weapons"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_phoenix_coilguns"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_stealth_satellites"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_supercapacitors"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_super_skyranger"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_ufo_countermeasures"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_ufo_scanners"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_ufo_tracking"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_wingtip_sparrowhawks"></foundry-project-browse-preview>
            </details>

            <details>
                <summary>Equipment Upgrades (8)</summary>
                <foundry-project-browse-preview-header></foundry-project-browse-preview-header>
                <foundry-project-browse-preview projectId="foundry_advanced_flight"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_drone_capture"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_improved_arc_thrower"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_improved_medikit"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_new_combat_systems"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_psi_warfare_systems"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_scope_upgrade"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_tactical_rigging"></foundry-project-browse-preview>
            </details>

            <details>
                <summary>MEC and SHIV Upgrades (10)</summary>
                <foundry-project-browse-preview-header></foundry-project-browse-preview-header>
                <foundry-project-browse-preview projectId="foundry_advanced_repair"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_advanced_servomotors"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_field_repairs"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_jellied_elerium"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_mec_close_combat"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_mec_warfare_systems"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_mechanized_unit_defenses"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_sentinel_drone"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_shaped_armor"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_shiv_suppression"></foundry-project-browse-preview>
            </details>

            <details>
                <summary>Miscellaneous (6)</summary>
                <foundry-project-browse-preview-header></foundry-project-browse-preview-header>
                <foundry-project-browse-preview projectId="foundry_advanced_surgery"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_alien_metallurgy"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_alien_nucleonics"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_base_security_armor"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_base_security_weapons"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_improved_salvage"></foundry-project-browse-preview>
            </details>

            <details>
                <summary>Weapon Upgrades (9)</summary>
                <foundry-project-browse-preview-header></foundry-project-browse-preview-header>
                <foundry-project-browse-preview projectId="foundry_alien_grenades"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_ammo_conservation"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_enhanced_ballistics"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_enhanced_lasers"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_enhanced_plasma"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_mag_pistols"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_quenchguns"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_rail_pistols"></foundry-project-browse-preview>
                <foundry-project-browse-preview projectId="foundry_reflex_pistols"></foundry-project-browse-preview>
            </details>
        </div>
    </section>
</template>

<template id="template-foundry-projects-browse-preview">
    <div class="foundry-browse-container">
        <div id="name"></div>
        <div id="description"></div>
        <div id="research-prereq"></div>
        <div id="foundry-browse-cost-money"></div>
        <div id="foundry-browse-cost-alien-alloys"></div>
        <div id="foundry-browse-cost-weapon-fragments"></div>
        <div id="foundry-browse-cost-elerium"></div>
        <div id="foundry-browse-cost-meld"></div>
        <div id="foundry-browse-cost-other"></div>
    </div>
</template>

<template id="template-foundry-projects-browse-preview-header">
    <div class="foundry-browse-container">
        <div>Project Name</div>
        <div>Description</div>
        <div>Required Research</div>
        <div class="foundry-browse-money-icon">§</div>
        <div title="Alien Alloys" class="img-icon"><img src="assets/img/item-icons/alien_alloy.png" /></div>
        <div title="Weapon Fragments" class="img-icon"><img src="assets/img/item-icons/weapon_fragment.png" /></div>
        <div title="Elerium" class="img-icon"><img src="assets/img/item-icons/elerium.png" /></div>
        <div title="Meld" class="img-icon"><img class="meld-icon" src="assets/img/misc-icons/meld.png" /></div>
        <div>Other</div>
    </div>
</template>