<template id="template-foundry-preview">
    <div class="flex-column">
        <div class="preview-header">
            <img class="preview-img-schematic" />
            <div class="preview-title"></div>
        </div>
        <div class="preview-description"></div>
    </div>
</template>

<template id="template-foundry-project-display-page">
    <div class="section-content flex-column">
        <div class="details-header-row">
            <div class="details-header-img-container">
                <img src="" />
            </div>
            <div class="details-header-content-container">
                <div class="details-header-title"></div>
                <div class="details-header-description"></div>
                <div class="details-header-extra"></div>
            </div>
        </div>
        <div id="foundry-project-second-row" class="flex-single-row">
            <div class="details-left-column">
                <div class="column-heading">Cost</div>
                <div class="details-column-body flex-column-wrap" id="foundry-project-cost-container">
                </div>
            </div>
            <div class="details-right-column">
                <div class="column-heading">Project Duration</div>
                <div class="details-column-body flex-column">
                    <div id="foundry-project-time-container">
                        <img class="inline-icon" src="assets/img/misc-icons/time.png" />
                        <span id="foundry-project-time"></span>&nbsp;days
                    </div>
                    <div class="flex-column-bottom flex-grow">
                        <div>
                            Displayed project time is based on having <span id="foundry-project-num-engineers"></span> engineers, 0 <a data-page-on-click="base-facility-page" data-pagearg-facility-id="facility_workshop">Workshops</a> and 0 adjacency bonuses.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-single-row">
            <div class="details-left-column">
                <div class="column-heading">Research Prerequisite</div>
                <div class="details-column-body flex-column-wrap" id="foundry-project-prerequisites"></div>
            </div>
            <div class="details-right-column">
                <div class="column-heading">Unlocked Items</div>
                <div class="details-column-body flex-column-wrap" id="foundry-project-unlocks"></div>
            </div>
        </div>
        <div id="foundry-project-main-row" class="flex-single-row">
            <div class="column-heading">Project Benefits</div>
            <div class="details-column-body" id="foundry-project-benefits"></div>
        </div>
    </div>
</template>