<template id="template-home-page">
    <section id="class-selection-section" class="section js-section">
        <header class="section-header">
            <div class="section-wrapper">
                Home Page
            </div>
        </header>

        <div class="section-content" style="padding: 1rem 1.25rem">
            <h1>Welcome to XCOM Companion!</h1>
            <p>You can get started by selecting a category on the left. Alternatively, search for something directly using the search box in the top left. Here's a few tips:</p>
            <ul>
                <li>At any time, pressing Ctrl+F will focus the search box. Press enter to submit a search.</li>
                <li>If your search exactly matches a game term, or matches only one game term, you'll be sent straight there. For example, searching "xenob" will always bring you to the <a data-page-on-click="tech-details-page" data-pagearg-tech-id="research_xenobiology">Xenobiology</a> research.</li>
                <li>If you're looking at an item's stats and you're not sure what a column means, hover over the image.</li>
                <li>You can get back to this page by clicking the <span style="text-transform: uppercase">XCOM COMPANION</span> logo in the top left of the window.</li>
            </ul>
            <p>If you ever have any feedback, bug reports, or other comments, feel free to stop by the <a href="https://github.com/chrishayesmu/XCOM-Companion/issues">GitHub repo</a> and open an issue.</p>

            <br /><br />
            <div id="changelog">
                <h2>Changelog</h2>
                <div class="changelog-version">
                    <h3>Version 0.1.1</h3>
                    <ul>
                        <li>Added stats tables in item tooltip for a few item types which were missing them</li>
                        <li>Fixed an issue where stats tables in item tooltips could extend beyond the tooltip boundaries</li>
                    </ul>
                </div>
                <div class="changelog-version">
                    <h3>Version 0.1.0</h3>
                    <ul>
                        <li>XCOM Companion first released</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>