<template id="template-home-page">
    <div class="section-content" style="padding: 1rem 1.25rem">
        <div id="home-welcome-text">
            <h1>Welcome to XCOM Companion!</h1>
            <p>You can get started by selecting a category on the left. Alternatively, search for something directly using the search box in the top left. Here's a few tips:</p>
            <ul>
                <li>At any time, pressing Ctrl+F will focus the search box. Press enter to submit a search.</li>
                <li>If your search exactly matches a game term, or matches only one game term, you'll be sent straight there. For example, searching "xenob" will always bring you to the <in-app-link to="research_xenobiology">Xenobiology</in-app-link> research.</li>
                <li>If you're looking at an item's stats and you're not sure what a column means, hover over the image.</li>
                <li>You can go back to the last page you looked at with <strong>Mouse 4</strong>, <strong>Alt + Left Arrow</strong>, or by clicking the back arrow near the page's title.</li>
                <li>You can go forward after going back with <strong>Mouse 5</strong>, <strong>Alt + Right Arrow</strong>, or by clicking the forward arrow near the page's title.</li>
                <li>You can get back to this page by clicking the <span style="text-transform: uppercase">XCOM COMPANION</span> logo in the top left of the window.</li>
            </ul>
            <p>If you ever have any feedback, bug reports, or other comments, feel free to stop by the <a href="https://github.com/chrishayesmu/XCOM-Companion/issues">GitHub repo</a> and open an issue. I can also be reached on Discord at
            SwfDelicious#4905, though GitHub is preferred.</p>
        </div>

        <div id="changelog">
            <h2>Changelog</h2>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.7.6 (TBD)</summary>
                    <h3>Features and Improvements</h3>
                    <ul>
                        <li>The <a data-page-on-click="loadout-selection-page">Build Manager</a> now allows you to select Foundry projects which may impact your loadout's stats. (Most Foundry projects only unlock items for use,
                            and those are not included here; all items will be available regardless of Foundry selections.)</li>
                        <li>The Build Manager now supports creating and sharing loadouts for SHIVs! Choose your chassis, equipment, and Foundry projects to see what your SHIV can do.</li>
                        <li>The Build Manager will show how much fuel your unit has for soldiers in Archangel or Seraph armor, as well as for Hover SHIVs.</li>
                        <li>The Build Manager now correctly accounts for the 12 extra hours of fatigue imposed per officer rank.</li>
                        <li>The standalone pages for soldier perk trees, gene mods, and psi abilities have been removed, as they are now redundant with the Build Manager.
                            Since this makes Build Manager the only entry under the "Soldiers" category, that category has also been removed.</li>
                    </ul>
                    <h3>Bug fixes and corrections</h3>
                    <ul>
                        <li>Corrected the credits cost of the <in-app-link to="facility_elerium_generator"></in-app-link> from 200 to 400. (Thanks to <strong>Macsee</strong> for reporting this.)</li>
                        <li>Fixed (hopefully) an issue where the image for the <in-app-link to="research_gauss_weapons"></in-app-link> research failed to load. (Thanks to <strong>Macsee</strong> for reporting this.)</li>
                        <li>Fixed the UFO Air Combat page interpreting UFO weapon speed as "shots per second" when it's actually "seconds between shots", causing UFO DPS to be inflated. (This was fixed some time back for XCOM air weapons, but UFOs were missed.)</li>
                        <li>Fixed an issue where the Build Manager allowed Scouts to equip a Marksman's Scope without checking that they were using a Marksman's Rifle.</li>
                        <li>Fixed an issue where the Build Manager was showing Sprinter's mobility bonus as part of the unit's base stats instead of in its bonuses.</li>
                    </ul>
                    <h3>Known issues</h3>
                    <ul>
                        <li>The Build Manager does not enforce restrictions on selected equipment when changing weapon types, e.g. changing to a non-plasma weapon should unequip the Plasma Stellerator.</li>
                        <li>If a Build Manager loadout has a will malus applied (e.g. from Psi Screen), the will text is wrapping to the next line in the stats block.</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.7.5 (August 15, 2021)</summary>
                    <h3>Features and Improvements</h3>
                    <ul>
                        <li>Builds in the <a data-page-on-click="loadout-selection-page">Build Manager</a> are now automatically sorted by class. Within each class, builds are sorted by name.</li>
                        <li>The diagram on the <in-app-link to="item_smoke_grenade"></in-app-link> page now includes the additional tiles covered by the <in-app-link to="perk_combat_drugs"></in-app-link> perk.</li>
                        <li>The <in-app-link to="foundry_improved_arc_thrower"></in-app-link> page now includes the table showing capture chances before and after the project.
                            (Previously this was only on the <in-app-link to="item_arc_thrower"></in-app-link> page.)</li>
                    </ul>
                    <h3>Bug fixes and corrections</h3>
                    <ul>
                        <li>Fixed a bug in the Build Manager where selecting the <in-app-link to="perk_extra_conditioning"></in-app-link> perk on a MEC would cause the stats summary to fail to load. (Thanks to <strong>Macsee</strong> for reporting this.)</li>
                        <li>Corrected the credits cost of the <in-app-link to="item_heavy_plasma_rifle"></in-app-link> from 30 to 350.</li>
                        <li>Corrected the alloy cost of the <in-app-link to="research_stealth_systems"></in-app-link> research from 30 to 0.</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.7.4 (August 10, 2021)</summary>
                    <h3>Bug fixes and corrections</h3>
                    <ul>
                        <li>Fixed a bug in the Build Manager where gene mods were showing their cost in the unit summary and not just in the gene mods page.</li>
                        <li>Fixed a bug in the Build Manager where the equippable item list was not scrollable, instead causing the entire page to scroll.</li>
                        <li>Updated council requests for Alien Carbine to note that they can be requested in exchange for credits.</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.7.3 (August 9, 2021)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>
                            <a data-page-on-click="loadout-selection-page">Build Manager</a> Improvements
                            <ul>
                                <li>When selecting class perks, the stat bonuses given by each perk (on top of the perk's stated benefits) are shown underneath the perk icon.</li>
                                <li>
                                    In the stats summary, the soldier's will now reflects the minimum +1 will gain from each rank of psi training. In addition, there is now a help icon that, when hovered,
                                    shows the maximum possible will the soldier could have, based on random will gain events at rank up and from psi training.
                                </li>
                                <li>When selecting gene mods, each mod's prerequisite research and cost are shown underneath the gene mod icon.</li>
                                <li>The unit summary on the right now sticks in place while scrolling. (Thanks to <strong>TGoat5</strong> for the suggestion!)</li>
                            </ul>
                        </li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.7.2 (August 8, 2021)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>The <a data-page-on-click="loadout-selection-page">Build Manager page</a> now supports all 8 MEC classes.
                            As MECs cannot have gene mods or psionics, nor can they be officers, builds are limited to perks and equipment.</li>
                    </ul>

                    <h3>Bug fixes and corrections</h3>
                    <ul>
                        <li>Fixed a bug in the Build Manager where importing a build with an empty item slot could cause the stat summary to fail to load.</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.7.1 (July 5, 2021)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>
                            The <a data-page-on-click="loadout-selection-page">Build Manager page</a> now allows importing and exporting of builds.
                            <ul>
                                <li>Exporting a build gives you a long, opaque string that you can send to others.</li>
                                <li>Importing a build lets you paste that string to load an identical build into your own XCOM Companion.</li>
                                <li>Exported builds have a unique identifier in them, so that if you import the same build again, you can update the previous import.</li>
                                <li>At this time, there is no bulk import/export capability. If this is something you think you'd use, please let me know so I can prioritize appropriately.</li>
                            </ul>
                        </li>
                    </ul>

                    <h3>Bug fixes and corrections</h3>
                    <ul>
                        <li>The Build Manager no longer allows selecting Neural Damping on psionically-trained soldiers. (Previously this restriction was only enforced in the other direction.)</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.7.0 (July 1, 2021)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>
                            The <a data-page-on-click="loadout-selection-page">Build Manager page</a> is now available.
                            <ul>
                                <li>This page allows you to set up a soldier's perk tree, officer ranks, gene mods, psi abilities, and equipment, and get a look at what the resulting stats will be.</li>
                                <li>Currently only the 8 infantry classes are supported, with MEC support hopefully coming soon.</li>
                                <li>Most item interactions are working (e.g. you can't equip both Drum Mags and Hi-Cap Mags).</li>
                                <li>Most in-game restrictions are replicated (e.g. officers cannot be psi-trained and vice versa).</li>
                                <li>The next update will include importing and exporting builds so you can share them with others.</li>
                            </ul>
                        </li>
                    </ul>

                    <h3>Bug fixes and corrections</h3>
                    <ul>
                        <li>The <in-app-link to="enemy_outsider"></in-app-link> page was double-counting the Outsider's initial HP regen, showing 3 more regen than they actually have.</li>
                        <li>The <in-app-link to="ufo_transport" linkText="Transport UFO"></in-app-link> page showed that they contain 10 <in-app-link to="item_alien_food"></in-app-link>; they actually contain 0.</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.6 (June 13, 2021)</summary>
                    This is just a small update. I have a few features in progress, but they'll take a while, so this might be the last update for a few weeks.

                    <h3>Minor improvements</h3>
                    <ul>
                        <li>The help icon on item and facility pages has been replaced with one that better fits the style of XCOM Companion, and which uses the same tooltip system as the rest of the app.</li>
                        <li>[Submitted by github.com/acp21] <a href="https://github.com/chrishayesmu/XCOM-Companion#osxlinux">README instructions</a> for running XCOM Companion on Mac and Linux have been made much more detailed, and more accessible to non-developers.</li>
                    </ul>
                    <h3>Bug fixes and corrections</h3>
                    <ul>
                        <li>The <in-app-link to="item_chitin_plating"></in-app-link> page was missing the 10 <in-app-link to="item_chryssalid_corpse" linkText="Chryssalid Carcasses"></in-app-link> required to build it.</li>
                        <li>Fixed an issue where links that should open in a browser would sometimes open within XCOM Companion instead.</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.5 (June 2, 2021)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>The <a data-page-on-click="map-possibilities-page">Maps page</a> now remembers which options you had selected when going forward/backwards through page history.</li>
                    </ul>
                    <h3>Other improvements</h3>
                    <ul>
                        <li>The <in-app-link to="item_flashbang_grenade"></in-app-link> page previously listed a flat -50 Aim debuff, per UFOpaedia. However, the in-game text claims a -50% debuff, which is more consistent
                        with other effects of its type, so XCOM Companion now matches the in-game text until I can test definitively.</li>
                        <li>Changed installer to a one-click process instead of having to go through the setup wizard with every update.</li>
                    </ul>
                    <h3>Bug fixes</h3>
                    <ul>
                        <li>Added 7 maps from Enemy Unknown which were mistakenly combined with their Enemy Within counterparts when initially compiling the map database.</li>
                        <li>Fixed a bug on the Maps page that sometimes caused the list of possible maps to display twice.</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.4 (June 2, 2021)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>
                            <strong>Custom research times:</strong> Now when viewing any research, in the section that displays the research time, there is a "Change" button that lets you modify the number of Scientists,
                            Laboratories, and adjacency bonuses you have. The research time will be updated to reflect your choices. These values <strong>are persisted</strong> across runs of the app, so you just need
                            to update them whenever your situation changes.
                        </li>
                        <li>The selected difficulty on the Enemy page will now be persisted between runs of XCOM Companion.</li>
                        <li>The Alien Research amount entered on the enemy point-in-time view will now be persisted between runs of XCOM Companion.</li>
                    </ul>
                    <h3>Other improvements</h3>
                    <ul>
                        <li>Jazzed up the XCOM COMPANION text in the top left.</li>
                        <li>Added some info on the "Ground Assault" section of UFO pages about the possibility of Terror pods on certain landings.</li>
                        <li>
                            <strong>[Community suggestion]</strong> The <a data-page-on-click="map-possibilities-page">Maps page</a> now grays out mission types and UFOs
                            that are incompatible with the chosen area of operations or mission type, respectively.
                        </li>
                    </ul>
                    <h3>Bug fixes</h3>
                    <ul>
                        <li><strong>[Reported by community]</strong> Fixed a bug where pages for maps (e.g. <in-app-link to="map_ufo_abductor_cliffside"></in-app-link>) broke page history navigation.</li>
                        <li>Fixed a bug in the enemy point-in-time view where the radio button for Leader Rank 0 was visually selected when loading the page (but not affecting the unit's stats).</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.3 (May 31, 2021)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>Added <a data-page-on-click="enemy-browse-page">Enemies by Date</a> page in the left nav, showing the latest appearance of each enemy type month-by-month.</li>
                        <li>
                            Added enemy data for all EXALT units: <in-app-link to="enemy_exalt_heavy"></in-app-link>, <in-app-link to="enemy_exalt_elite_heavy"></in-app-link>, <in-app-link to="enemy_exalt_medic"></in-app-link>,
                            <in-app-link to="enemy_exalt_elite_medic"></in-app-link>, <in-app-link to="enemy_exalt_operative"></in-app-link>, <in-app-link to="enemy_exalt_elite_operative"></in-app-link>,
                            <in-app-link to="enemy_exalt_sniper"></in-app-link>, and <in-app-link to="enemy_exalt_elite_sniper"></in-app-link>.
                        </li>
                    </ul>
                    <h3>Other improvements</h3>
                    <ul>
                        <li>In enemy point-in-time view, if an enemy has the Mayhem perk, a warning will appear in the Damage Range section to clarify that Mayhem is not taken into account</li>
                        <li>Added some more specific info on the effects of the <in-app-link to="item_chem_grenade"></in-app-link> and <in-app-link to="item_flashbang_grenade"></in-app-link></li>
                    </ul>
                    <h3>Bug fixes</h3>
                    <ul>
                        <li>Corrected typo in the name of the Snap Shot perk</li>
                        <li>Fixed incorrect tooltip when looking at Interceptor weapon stats (it read "Shots Per Second"; now "Seconds Between Shots")</li>
                        <li>Fixed a few instances in enemy point-in-time view where the +2 HP regen from Adaptive Bone Marrow was not reflected in the stats box</li>
                        <li>Fixed an issue in enemy point-in-time view where changing the selected difficulty could cause the selected Navigator and Leader Upgrades to be out of sync with the stats box</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.2 (May 29, 2021)</summary>
                    <h3>Search improvements</h3>
                    <ul>
                        <li>Added autocomplete suggestions while typing in the search box, for the poor souls who can't spell "Chryssalid"</li>
                        <li>Fixed: If searching for a term which has multiple exact matches (e.g. Scout, both a class and a UFO type), search now leads to a disambiguation page</li>
                    </ul>
                    <h3>Other changes</h3>
                    <ul>
                        <li>Added application menu (File/Edit/About) along the top; most notable addition is you can now manually check for app updates in the "About" menu</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.1 (May 28, 2021)</summary>
                    <ul>
                        <li>
                            Added the <strong>Point-in-time</strong> view to enemy pages, available next to the difficulty selector. This is a view that lets you enter your current Alien Research level,
                            and see the enemy's stats at that time. You can also optionally select Navigator upgrades and Leader ranks, making it easier to see what the strongest-possible alien of a
                            given type will be.
                        </li>
                        <li>The enemy page will now remember which difficulty you previously selected (until the app is restarted)</li>
                        <li>The message box on enemy pages describing how research works is now dismissable, and will remain dismissed until the app is restarted</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.0 (May 27, 2021)</summary>
                    <ul>
                        <li>
                            Added first version of enemy info pages (ex: <in-app-link to="enemy_mechtoid"></in-app-link>). This is a functional but basic feature that will be getting more updates in the near future.
                            <ul>
                                <li>Enemy pages are currently only accessible via search; there is no listing of all enemies yet, like there is with UFOs</li>
                                <li>EXALT units and the Uber Ethereal are not yet present in the app, but all other enemies are</li>
                                <li>Each part of the unit's page that is based on an Alien Research value shows the latest possible campaign date for that value to be reached</li>
                                <li>The top of each enemy info page has a difficulty selector (defaults to Impossible), which updates the unit's base stats and research timings in real time</li>
                                <li>Some inaccuracies from UFOpaedia have been corrected in XCOM Companion</li>
                            </ul>
                        </li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.5.0 (May 22, 2021)</summary>
                    <ul>
                        <li>Added <a data-page-on-click="research-credits-browse-page">Interrogation Credits</a> page in the left nav, showing which interrogations benefit which Foundry projects/researches</li>
                        <li>Updated home page to include my Discord ID, for those who don't have a GitHub account</li>
                        <li>Added an abomination against God Himself</li>
                        <li>Changed automatic update check to not trigger an OS-level notification when an update is found</li>
                        <li>Fix: research pages (like <in-app-link to="research_xenogenetics">Xenogenetics</in-app-link>) were not showing base facilities they unlocked
                            (like the <in-app-link to="facility_genetics_lab">Genetics Lab</in-app-link>)</li>
                        <li>Fix: navigating forwards/backwards through pages would break if one of those pages was search results</li>
                        <li>Fix: capture chance table on the <in-app-link to="item_arc_thrower">Arc Thrower</in-app-link> page had the first column too small</li>
                        <li>Fix: <a data-page-on-click="tech-tree-display-page">Tech Tree</a> page was supposed to start loading when the app started, to cover its long load time</li>
                        <li>Fix: <in-app-link to="foundry_ufo_countermeasures">UFO Countermeasures</in-app-link> Foundry project was missing Project Benefits text</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.4.3 (May 21, 2021)</summary>
                    <ul>
                        <li>Fixed an issue where Foundry projects were not displaying their cost in credits (§)</li>
                        <li>Changed app to check for updates every 30 minutes, in addition to checking when first started up</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.4.2 (May 21, 2021)</summary>
                    <ul>
                        <li>Fixed a bug introduced in v0.4.1, where executing a search that matched exactly one facility and nothing else would fail to do anything</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.4.1 (May 20, 2021)</summary>
                    <ul>
                        <li>
                            Added page history navigation, to quickly return to previously-visited pages
                            <ul>
                                    <li>You can go back to the last page you looked at with <strong>Mouse 4</strong>, <strong>Alt + Left Arrow</strong>, or by clicking the back arrow near the page's title.</li>
                                    <li>You can go forward after going back with <strong>Mouse 5</strong>, <strong>Alt + Right Arrow</strong>, or by clicking the forward arrow near the page's title.</li>
                            </ul>
                        </li>
                        <li>Made the changelog entries prettier and added release dates</li>
                        <li><strong><font color="var(--color-red)">Critical fix:</font></strong> if only one map is possible for a mission's parameters, the <a data-page-on-click="map-possibilities-page">Maps</a> page will say "There is 1 map possible" instead of "There are 1 maps possible"</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.4.0 (May 18, 2021)</summary>
                    <ul>
                        <li>
                            Added <strong>UFO</strong> data and pages
                            <ul>
                                <li>Accessing <a data-page-on-click="ufo-browse-page">UFOs</a> from the left nav shows all UFO types</li>
                                <li>UFOs can be searched for by name</li>
                                <li>
                                    Viewing <a data-page-on-click="ufo-details-page" data-pagearg-ufo-id="ufo_scout">a UFO's details</a> shows:
                                    <ul>
                                        <li><strong>Air Combat</strong> stats, including how the UFO upgrades with Alien Research, and a simplistic comparison with Interceptors/Firestorms</li>
                                        <li><strong>Ground Assault</strong> data, including the crew size, recoverable resources, and Command Pod</li>
                                        <li><strong>Mission</strong> data, showing which missions a UFO can undertake, the requirements for that UFO type to be sent on that mission, and the benefits of that mission to the aliens</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Some small additional tweaks to improve consistency across the app</li>
                        <li>Another couple of small updates to item text and links</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.3.0 (May 10, 2021)</summary>
                    <ul>
                        <li>
                            Added <strong>tactical map</strong> data and pages
                            <ul>
                                <li>Accessing <a data-page-on-click="map-possibilities-page">Maps</a> from the left nav lets you input a mission type and Area of Operations, and see which maps you might get</li>
                                <li>Maps can be searched for by name; most map names match what's on the wiki, or are close</li>
                                <li>Viewing <a data-page-on-click="map-details-page" data-pagearg-map-id="map_cemetery_grand">a map's details</a> will show you all of the missions that can occur there, and some maps have their size listed</li>
                            </ul>
                        </li>
                        <li>Darkened the background of the left nav to be easier on the eyes</li>
                        <li>Made a number of small tweaks to make appearances more consistent across the app</li>
                        <li>Fixed some typos and broken links for various items</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.2.0 (May 7, 2021)</summary>
                    <ul>
                        <li>Added <strong>base facility</strong> data and pages; facilities can be accessed in the left nav or via search</li>
                        <li>Added an image on the <a data-page-on-click='item-display-page' data-pagearg-item-id='item_smoke_grenade'>Smoke Grenade</a> page to show the tile pattern covered by the grenade</li>
                        <li>[Internal] Some refactoring to facilitate future updates</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.1.1 (May 5, 2021)</summary>
                    <ul>
                        <li>Added stats tables in item tooltip for a few item types which were missing them</li>
                        <li>Fixed an issue where stats tables in item tooltips could extend beyond the tooltip boundaries</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.1.0 (May 4, 2021)</summary>
                    <ul>
                        <li>XCOM Companion first released</li>
                    </ul>
                </details>
            </div>
        </div>
    </div>
</template>