<template id="template-home-page">
    <div class="section-content" style="padding: 1rem 1.25rem">
        <div id="home-welcome-text">
            <h1>Welcome to XCOM Companion!</h1>
            <p>You can get started by selecting a category on the left. Alternatively, search for something directly using the search box in the top left. Here's a few tips:</p>
            <ul>
                <li>At any time, pressing Ctrl+F will focus the search box. Press enter to submit a search.</li>
                <li>If your search exactly matches a game term, or matches only one game term, you'll be sent straight there. For example, searching "xenob" will always bring you to the <in-app-link to="research_xenobiology">Xenobiology</in-app-link> research.</li>
                <li>If you're looking at an item's stats and you're not sure what a column means, hover over the image.</li>
                <li>You can go back to the last page you looked at with <strong>Mouse 4</strong>, <strong>Alt + Left Arrow</strong>, or by clicking the back arrow near the page's title.</li>
                <li>You can go forward after going back with <strong>Mouse 5</strong>, <strong>Alt + Right Arrow</strong>, or by clicking the forward arrow near the page's title.</li>
                <li>You can get back to this page by clicking the <span style="text-transform: uppercase">XCOM COMPANION</span> logo in the top left of the window.</li>
            </ul>
            <p>If you ever have any feedback, bug reports, or other comments, feel free to stop by the <a href="https://github.com/chrishayesmu/XCOM-Companion/issues">GitHub repo</a> and open an issue. I can also be reached on Discord at
            SwfDelicious#4905, though GitHub is preferred.</p>
        </div>

        <div id="changelog">
            <h2>Changelog</h2>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.4 (TBD)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>TBD</li>
                    </ul>
                    <h3>Other improvements</h3>
                    <ul>
                        <li>Jazzed up the XCOM COMPANION text in the top left</li>
                    </ul>
                    <h3>Bug fixes</h3>
                    <ul>
                        <li>TBD</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.3 (May 31, 2021)</summary>
                    <h3>Features</h3>
                    <ul>
                        <li>Added <a data-page-on-click="enemy-browse-page">Enemies by Date</a> page in the left nav, showing the latest appearance of each enemy type month-by-month.</li>
                        <li>
                            Added enemy data for all EXALT units: <in-app-link to="enemy_exalt_heavy"></in-app-link>, <in-app-link to="enemy_exalt_elite_heavy"></in-app-link>, <in-app-link to="enemy_exalt_medic"></in-app-link>,
                            <in-app-link to="enemy_exalt_elite_medic"></in-app-link>, <in-app-link to="enemy_exalt_operative"></in-app-link>, <in-app-link to="enemy_exalt_elite_operative"></in-app-link>,
                            <in-app-link to="enemy_exalt_sniper"></in-app-link>, and <in-app-link to="enemy_exalt_elite_sniper"></in-app-link>.
                        </li>
                    </ul>
                    <h3>Other improvements</h3>
                    <ul>
                        <li>In enemy point-in-time view, if an enemy has the Mayhem perk, a warning will appear in the Damage Range section to clarify that Mayhem is not taken into account</li>
                        <li>Added some more specific info on the effects of the <in-app-link to="item_chem_grenade"></in-app-link> and <in-app-link to="item_flashbang_grenade"></in-app-link></li>
                    </ul>
                    <h3>Bug fixes</h3>
                    <ul>
                        <li>Corrected typo in the name of the Snap Shot perk</li>
                        <li>Fixed incorrect tooltip when looking at Interceptor weapon stats (it read "Shots Per Second"; now "Seconds Between Shots")</li>
                        <li>Fixed a few instances in enemy point-in-time view where the +2 HP regen from Adaptive Bone Marrow was not reflected in the stats box</li>
                        <li>Fixed an issue in enemy point-in-time view where changing the selected difficulty could cause the selected Navigator and Leader Upgrades to be out of sync with the stats box</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.2 (May 29, 2021)</summary>
                    <h3>Search improvements</h3>
                    <ul>
                        <li>Added autocomplete suggestions while typing in the search box, for the poor souls who can't spell "Chryssalid"</li>
                        <li>Fixed: If searching for a term which has multiple exact matches (e.g. Scout, both a class and a UFO type), search now leads to a disambiguation page</li>
                    </ul>
                    <h3>Other changes</h3>
                    <ul>
                        <li>Added application menu (File/Edit/About) along the top; most notable addition is you can now manually check for app updates in the "About" menu</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.1 (May 28, 2021)</summary>
                    <ul>
                        <li>
                            Added the <strong>Point-in-time</strong> view to enemy pages, available next to the difficulty selector. This is a view that lets you enter your current Alien Research level,
                            and see the enemy's stats at that time. You can also optionally select Navigator upgrades and Leader ranks, making it easier to see what the strongest-possible alien of a
                            given type will be.
                        </li>
                        <li>The enemy page will now remember which difficulty you previously selected (until the app is restarted)</li>
                        <li>The message box on enemy pages describing how research works is now dismissable, and will remain dismissed until the app is restarted</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.6.0 (May 27, 2021)</summary>
                    <ul>
                        <li>
                            Added first version of enemy info pages (ex: <in-app-link to="enemy_mechtoid"></in-app-link>). This is a functional but basic feature that will be getting more updates in the near future.
                            <ul>
                                <li>Enemy pages are currently only accessible via search; there is no listing of all enemies yet, like there is with UFOs</li>
                                <li>EXALT units and the Uber Ethereal are not yet present in the app, but all other enemies are</li>
                                <li>Each part of the unit's page that is based on an Alien Research value shows the latest possible campaign date for that value to be reached</li>
                                <li>The top of each enemy info page has a difficulty selector (defaults to Impossible), which updates the unit's base stats and research timings in real time</li>
                                <li>Some inaccuracies from UFOpaedia have been corrected in XCOM Companion</li>
                            </ul>
                        </li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.5.0 (May 22, 2021)</summary>
                    <ul>
                        <li>Added <a data-page-on-click="research-credits-browse-page">Interrogation Credits</a> page in the left nav, showing which interrogations benefit which Foundry projects/researches</li>
                        <li>Updated home page to include my Discord ID, for those who don't have a GitHub account</li>
                        <li>Added an abomination against God Himself</li>
                        <li>Changed automatic update check to not trigger an OS-level notification when an update is found</li>
                        <li>Fix: research pages (like <in-app-link to="research_xenogenetics">Xenogenetics</in-app-link>) were not showing base facilities they unlocked
                            (like the <in-app-link to="facility_genetics_lab">Genetics Lab</in-app-link>)</li>
                        <li>Fix: navigating forwards/backwards through pages would break if one of those pages was search results</li>
                        <li>Fix: capture chance table on the <in-app-link to="item_arc_thrower">Arc Thrower</in-app-link> page had the first column too small</li>
                        <li>Fix: <a data-page-on-click="tech-tree-display-page">Tech Tree</a> page was supposed to start loading when the app started, to cover its long load time</li>
                        <li>Fix: <in-app-link to="foundry_ufo_countermeasures">UFO Countermeasures</in-app-link> Foundry project was missing Project Benefits text</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.4.3 (May 21, 2021)</summary>
                    <ul>
                        <li>Fixed an issue where Foundry projects were not displaying their cost in credits (§)</li>
                        <li>Changed app to check for updates every 30 minutes, in addition to checking when first started up</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.4.2 (May 21, 2021)</summary>
                    <ul>
                        <li>Fixed a bug introduced in v0.4.1, where executing a search that matched exactly one facility and nothing else would fail to do anything</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.4.1 (May 20, 2021)</summary>
                    <ul>
                        <li>
                            Added page history navigation, to quickly return to previously-visited pages
                            <ul>
                                    <li>You can go back to the last page you looked at with <strong>Mouse 4</strong>, <strong>Alt + Left Arrow</strong>, or by clicking the back arrow near the page's title.</li>
                                    <li>You can go forward after going back with <strong>Mouse 5</strong>, <strong>Alt + Right Arrow</strong>, or by clicking the forward arrow near the page's title.</li>
                            </ul>
                        </li>
                        <li>Made the changelog entries prettier and added release dates</li>
                        <li><strong><font color="#fc5c51">Critical fix:</font></strong> if only one map is possible for a mission's parameters, the <a data-page-on-click="map-possibilities-page">Maps</a> page will say "There is 1 map possible" instead of "There are 1 maps possible"</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.4.0 (May 18, 2021)</summary>
                    <ul>
                        <li>
                            Added <strong>UFO</strong> data and pages
                            <ul>
                                <li>Accessing <a data-page-on-click="ufo-browse-page">UFOs</a> from the left nav shows all UFO types</li>
                                <li>UFOs can be searched for by name</li>
                                <li>
                                    Viewing <a data-page-on-click="ufo-details-page" data-pagearg-ufo-id="ufo_scout">a UFO's details</a> shows:
                                    <ul>
                                        <li><strong>Air Combat</strong> stats, including how the UFO upgrades with Alien Research, and a simplistic comparison with Interceptors/Firestorms</li>
                                        <li><strong>Ground Assault</strong> data, including the crew size, recoverable resources, and Command Pod</li>
                                        <li><strong>Mission</strong> data, showing which missions a UFO can undertake, the requirements for that UFO type to be sent on that mission, and the benefits of that mission to the aliens</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Some small additional tweaks to improve consistency across the app</li>
                        <li>Another couple of small updates to item text and links</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.3.0 (May 10, 2021)</summary>
                    <ul>
                        <li>
                            Added <strong>tactical map</strong> data and pages
                            <ul>
                                <li>Accessing <a data-page-on-click="map-possibilities-page">Maps</a> from the left nav lets you input a mission type and Area of Operations, and see which maps you might get</li>
                                <li>Maps can be searched for by name; most map names match what's on the wiki, or are close</li>
                                <li>Viewing <a data-page-on-click="map-details-page" data-pagearg-map-id="map_cemetery_grand">a map's details</a> will show you all of the missions that can occur there, and some maps have their size listed</li>
                            </ul>
                        </li>
                        <li>Darkened the background of the left nav to be easier on the eyes</li>
                        <li>Made a number of small tweaks to make appearances more consistent across the app</li>
                        <li>Fixed some typos and broken links for various items</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.2.0 (May 7, 2021)</summary>
                    <ul>
                        <li>Added <strong>base facility</strong> data and pages; facilities can be accessed in the left nav or via search</li>
                        <li>Added an image on the <a data-page-on-click='item-display-page' data-pagearg-item-id='item_smoke_grenade'>Smoke Grenade</a> page to show the tile pattern covered by the grenade</li>
                        <li>[Internal] Some refactoring to facilitate future updates</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.1.1 (May 5, 2021)</summary>
                    <ul>
                        <li>Added stats tables in item tooltip for a few item types which were missing them</li>
                        <li>Fixed an issue where stats tables in item tooltips could extend beyond the tooltip boundaries</li>
                    </ul>
                </details>
            </div>
            <div class="changelog-version">
                <details>
                    <summary>Version 0.1.0 (May 4, 2021)</summary>
                    <ul>
                        <li>XCOM Companion first released</li>
                    </ul>
                </details>
            </div>
        </div>
    </div>
</template>