<template id="template-map-possibilities-page">
    <div id="map-possibilities-content-section" class="section-content">
        <div id="map-possibilities-preamble">
            Enter the details of your mission to see which maps are possible.
        </div>
        <div id="map-possibilities-parameters">
            <div class="map-possibilities-parameters-column">
                <single-select-list id="map-possibilities-ao-select" title="Area of Operations">
                    <li data-ao="ao_alien_structure">Alien Structure</li>
                    <li data-ao="ao_forest">Forest</li>
                    <li data-ao="ao_plains">Plains</li>
                    <li data-ao="ao_riparian">Riparian</li>
                    <li data-ao="ao_roadway">Roadway</li>
                    <li data-ao="ao_settlement">Settlement</li>
                    <li data-ao="ao_urban_block">Urban Block</li>
                    <li data-ao="ao_urban_close_quarters">Urban Close Quarters</li>
                    <li data-ao="ao_urban_large_structure">Urban Large Structure</li>
                    <li data-ao="ao_waterfront">Waterfront</li>
                </single-select-list>
            </div>

            <div class="map-possibilities-parameters-column">
                <single-select-list id="map-possibilities-mission-type-select" title="Mission Type">
                    <li data-data-key="alien_mission_types" data-mission-type="mission_abduction">Aliens: Abductions</li>
                    <li data-data-key="alien_mission_types" data-mission-type="mission_terror">Aliens: Terror Site</li>
                    <li data-data-key="council_mission_types" data-mission-type="mission_asset_recovery">Council: Asset Recovery</li>
                    <li data-data-key="council_mission_types" data-mission-type="mission_bomb_disposal">Council: Bomb Disposal</li>
                    <li data-data-key="council_mission_types" data-mission-type="mission_target_escort">Council: Target Escort</li>
                    <li data-data-key="council_mission_types" data-mission-type="mission_target_extraction">Council: Target Extraction</li>
                    <li data-data-key="exalt_mission_types" data-mission-type="mission_covert_data_recovery">EXALT: Covert Data Recovery</li>
                    <li data-data-key="exalt_mission_types" data-mission-type="mission_covert_extraction">EXALT: Covert Extraction</li>
                    <li data-data-key="ufo_crashed_mission_types">UFO: Crashed</li>
                    <li data-data-key="ufo_landed_mission_types">UFO: Landed</li>
                </single-select-list>
            </div>

            <div class="map-possibilities-parameters-column">
                <single-select-list id="map-possibilities-ufo-type-select" title="UFO Class" disabled>
                    <li data-ufo-type="ufo_abductor">Abductor</li>
                    <li data-ufo-type="ufo_assault_carrier">Assault Carrier</li>
                    <li data-ufo-type="ufo_battleship">Battleship</li>
                    <li data-ufo-type="ufo_destroyer">Destroyer</li>
                    <li data-ufo-type="ufo_fighter">Fighter</li>
                    <li data-ufo-type="ufo_harvester">Harvester</li>
                    <li data-ufo-type="ufo_overseer">Overseer</li>
                    <li data-ufo-type="ufo_raider">Raider</li>
                    <li data-ufo-type="ufo_scout">Scout</li>
                    <li data-ufo-type="ufo_terror_ship">Terror Ship</li>
                    <li data-ufo-type="ufo_transport">Transport</li>
                </single-select-list>
            </div>
        </div>
        <div id="map-possibilities-results-summary"></div>
        <div id="map-possibilities-results">

        </div>
    </div>
</template>

<template id="template-map-possibilities-map-preview">
    <div class="map-possibilities-map-preview">
        <div data-page-on-click="map-details-page" class="mpm-preview-name"></div>
        <img data-page-on-click="map-details-page" class="mpm-preview-image" />
    </div>
</template>