<template id="template-map-details-preview">
    <div>
        <div id="map-preview-name"></div>
        <img id="map-preview-image" />
    </div>
</template>

<template id="template-map-details-page">
    <div id="map-details-content-section" class="section-content">
        <div id="map-details-name"></div>
        <img id="map-details-image" />
        <div id="map-details-map-data-container">
            <div class="map-details-data-column">
                <div class="map-details-column-heading">Area of Operations</div>
                <div id="map-details-ao"></div>
            </div>
            <div class="map-details-data-column" style="border-left: none">
                <div class="map-details-column-heading">Map Size</div>
                <div id="map-details-size"></div>
            </div>
        </div>
        <div id="map-details-mission-data-container">
            <div class="map-details-mission-types-header map-details-column-heading">Possible Missions On This Map</div>
            <div id="map-details-alien-missions-container" class="map-details-data-column">
                <div class="map-details-column-heading">Alien</div>
                <div id="map-details-alien-missions"></div>
            </div>
            <div id="map-details-council-missions-container" class="map-details-data-column">
                <div class="map-details-column-heading">Council</div>
                <div id="map-details-council-missions"></div>
            </div>
            <div id="map-details-crashed-ufo-missions-container" class="map-details-data-column">
                <div class="map-details-column-heading">Crashed UFOs</div>
                <div id="map-details-crashed-ufo-missions"></div>
            </div>
            <div id="map-details-exalt-missions-container" class="map-details-data-column">
                <div class="map-details-column-heading">EXALT</div>
                <div id="map-details-exalt-missions"></div>
            </div>
            <div id="map-details-landed-ufo-missions-container" class="map-details-data-column">
                <div class="map-details-column-heading">Landed UFOs</div>
                <div id="map-details-landed-ufo-missions"></div>
            </div>
        </div>
    </div>
</template>