<template id="template-psi-training-display-page">
    <section id="perk-tree-header-section" class="section js-section">
        <header class="section-header">
            <div id="perk-tree-header-text" class="section-wrapper">
                Psionic Training
            </div>
        </header>

        <div id="perk-tree-content-section" class="section-content">
            <div>
                <div class="perk-tree-row">
                    <div class="perk-tree-rank-name">
                        <div>Awakened</div>
                        <div class="flex-single-row">
                            <div class="psi-ability-fatigue">+24 hours fatigue</div>
                        </div>
                    </div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_regen_biofield"><img src="assets/img/perk-icons/psi_regen_biofield.png" /></div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_neural_feedback"><img src="assets/img/perk-icons/psi_neural_feedback.png" /></div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_mindfray"><img src="assets/img/perk-icons/psi_mindfray.png" /></div>
                </div>
                <div class="perk-tree-row">
                    <div class="perk-tree-rank-name">
                        <div>Sensitive</div>
                        <div class="flex-single-row">
                            <div class="psi-ability-fatigue">+6 hours fatigue</div>
                        </div>
                    </div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_distortion_field"><img src="assets/img/perk-icons/psi_distortion_field.png" /></div>
                    <div class="perk-slot-empty" ><div></div></div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_psi_inspiration"><img src="assets/img/perk-icons/psi_psi_inspiration.png" /></div>
                </div>
                <div class="perk-tree-row">
                    <div class="perk-tree-rank-name">
                        <div>Talent</div>
                        <div class="flex-single-row">
                            <div class="psi-ability-fatigue">+6 hours fatigue</div>
                        </div>
                    </div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_psi_panic"><img src="assets/img/perk-icons/psi_psi_panic.png" /></div>
                    <div class="perk-slot-empty" ><div></div></div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_mind_merge"><img src="assets/img/perk-icons/psi_mind_merge.png" /></div>
                </div>
                <div class="perk-tree-row">
                    <div class="perk-tree-rank-name">
                        <div>Adept</div>
                        <div class="flex-single-row">
                            <div class="psi-ability-fatigue">+12 hours fatigue</div>
                        </div>
                    </div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_psychokinetic_strike"><img src="assets/img/perk-icons/psi_psychokinetic_strike.png" /></div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_pyrokinesis"><img src="assets/img/perk-icons/psi_pyrokinesis.png" /></div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_telekinetic_field"><img src="assets/img/perk-icons/psi_telekinetic_field.png" /></div>
                </div>
                <div class="perk-tree-row">
                    <div class="perk-tree-rank-name">
                        <div>Psion</div>
                        <div class="flex-single-row">
                            <div class="psi-ability-fatigue">+12 hours fatigue</div>
                        </div>
                    </div>
                    <div class="perk-slot-empty" ><div></div></div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_mind_control"><img src="assets/img/perk-icons/psi_mind_control.png" /></div>
                    <div class="perk-slot-empty" ><div></div></div>
                </div>
                <div class="perk-tree-row">
                    <div class="perk-tree-rank-name">
                        <div>Master</div>
                        <div class="flex-single-row">
                            <div class="psi-ability-fatigue">+12 hours fatigue</div>
                        </div>
                    </div>
                    <div class="perk-slot-empty" ><div></div></div>
                    <div class="perk-icon psi-ability-icon" data-psi-ability="psi_rift"><img src="assets/img/perk-icons/psi_rift.png" /></div>
                    <div class="perk-slot-empty" ><div></div></div>
                </div>
            </div>
            <div id="perk-tree-details" class="hidden">
                <div id="perk-tree-details-name"></div>
                <div id="perk-tree-details-prerequisite"></div>
                <div id="perk-tree-details-description"></div>
            </div>
        </div>
    </section>
</template>