<template id="template-research-credits-browse-page">
    <div id="research-credits-content-section" class="section-content" style="padding-bottom: 50px">
        <p style="margin-left: 20px">
            Each research credit decreases the time required for its applicable Foundry and Research projects by 25%. If starting as Brazil with the <strong>Expertise</strong> bonus,
            its 15% bonus is multiplicative, resulting in a 36% reduction in overall project time.
        </p>
        <research-credit isHeader></research-credit>
        <research-credit creditType="aerospace"></research-credit>
        <research-credit creditType="all"></research-credit>
        <research-credit creditType="armor"></research-credit>
        <research-credit creditType="cybernetics"></research-credit>
        <research-credit creditType="gauss_weapons"></research-credit>
        <research-credit creditType="laser_weapons"></research-credit>
        <research-credit creditType="plasma_weapons"></research-credit>
        <research-credit creditType="psionics"></research-credit>
        <research-credit creditType="weapons"></research-credit>
    </div>
</template>
