<template id="template-tech-tree-display-page">
    <section class="section js-section">
        <header class="section-header">
            <div class="section-wrapper">
                Research Tree
                <span id="tech-tree-debug-controls" class="hidden-collapse">
                    <button id="tech-tree-export-button">Export Layout</button>

                    <span style="font-size: 16px">
                        Current: (<span id="tech-tree-current-x">300</span>, <span id="tech-tree-current-y">100</span>)
                    </span>
                    <span style="font-size: 16px; margin-left: 30px">
                        X: <input style="color: black; width: 50px" type="text" id="tech-tree-new-x" />
                        Y: <input style="color: black; width: 50px" type="text" id="tech-tree-new-y" />
                        <button id="tech-tree-move-button">Move Node</button>
                    </span>
                </span>
            </div>
        </header>

        <div id="tech-tree-content-section" class="section-content">
        </div>
    </section>
</template>