<template id="template-tech-preview">
    <div class="flex-column">
        <div class="preview-header">
            <img class="preview-img-schematic" />
            <div class="preview-title"></div>
        </div>
        <div class="preview-description"></div>
    </div>
</template>

<template id="template-tech-details-page">
    <div class="section-content flex-column">
        <div class="details-header-row">
            <div class="details-header-img-container">
                <img />
            </div>
            <div class="details-header-content-container">
                <div class="details-header-title" id="tech-details-name"></div>
                <div class="details-header-description"></div>
                <div class="details-header-extra"></div>
            </div>
        </div>
        <div id="tech-details-second-row" class="flex-single-row">
            <div class="details-left-column">
                <div class="column-heading">Cost</div>
                <div class="details-column-body" id="tech-details-cost-container">
                </div>
            </div>
            <div class="details-right-column">
                <div class="column-heading">Time to Research</div>
                <div class="details-column-body flex-column">
                    <div id="tech-details-time-container">
                        <img class="inline-icon" src="assets/img/misc-icons/time.png" />
                        <span id="tech-details-time">7</span>&nbsp;days
                    </div>
                    <div class="flex-column-bottom flex-grow">
                        <div>
                            Displayed research time is based on having 30 scientists, 0 <a data-page-on-click="base-facility-page" data-pagearg-facility-id="facility_laboratory">Laboratories</a> and 0 adjacency bonuses.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tech-details-main-row">
            <div class="column-heading" id="tech-details-unlocks-heading">Required For</div>
            <div class="details-column-body" id="tech-details-unlocks"></div>
        </div>
        <div id="tech-details-bottom-row" class="flex-single-row">
            <div class="details-left-column">
                <div class="column-heading">Prerequisites</div>
                <div class="details-column-body" id="tech-details-prerequisites"></div>
            </div>
            <div class="details-right-column">
                <div class="column-heading">Leads to</div>
                <div class="details-column-body" id="tech-details-leads-to-research"></div>
            </div>
        </div>
    </div>
</template>