enemy-infobox {
    height: fit-content;
    width: fit-content;
}

.enemy-infobox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: var(--color-bg-schematic-light);
    border: 1px solid var(--color-border);
    height: fit-content;
    width: 275px;
}

enemy-infobox[tiny] .enemy-infobox {
    cursor: pointer;
    width: 225px;
}

enemy-infobox[tiny] .enemy-infobox:hover .enemy-infobox-img,
enemy-infobox[tiny] .enemy-infobox:hover .enemy-infobox-img-container,
enemy-infobox[tiny] .enemy-infobox:hover .enemy-infobox-title {
    background-color: var(--color-bg-schematic-light);
}

enemy-infobox[tiny] .enemy-infobox * {
    pointer-events: none;
}

.enemy-infobox * {
    background-color: var(--color-bg-schematic-light);
}

.enemy-infobox select {
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    padding: 4px 0;
    text-align-last: center;
}

.enemy-infobox-column-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: 6px 0px;
    width: 100%;
}

.enemy-infobox-column-body-two-column {
    display: grid;
    grid-template-columns: 100px auto;
    padding: 4px 0px;
    width: 100%;
}

.enemy-infobox-column-body-two-column-even {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.enemy-infobox-column-heading {
    background-color: var(--color-bg-schematic);
    color: var(--color);
    border-bottom: 1px solid var(--color-border-subtle);
    border-top: 1px solid var(--color-border-subtle);
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}

.enemy-infobox-column-left {
    color: var(--color);
    display: inline-block;
    font-weight: bold;
    margin-right: 4px;
    text-align: right;
    width: 96px;
}

.enemy-infobox-column-body-two-column-even .enemy-infobox-column-body:nth-child(2n-1),
.enemy-infobox-column-body-two-column-even .enemy-infobox-column-heading:nth-child(2n-1) {
    border-right: 1px solid var(--color-border-subtle);
}

.enemy-infobox-column-right {
    padding-left: 4px;
    text-align: left;
    width: 100%;
}

.enemy-infobox-img,
.enemy-infobox-img-container {
    background-color: var(--color-bg-schematic);
    width: 100%;
}

enemy-infobox[tiny] .enemy-infobox-img {
    display: block;
    margin: 0 auto;
    width: 70%;
}

#enemy-infobox-perks-container {
    display: grid;
    align-items: start;
    column-gap: 6px;
    grid-template-columns: repeat(3, 1fr);
    padding: 6px 4px;
}

.enemy-infobox-stat-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: left;

    font-size: 16px;
    height: 30px;
    width: 33%;
}

.enemy-infobox-stat-block img {
    margin-right: 5px;
    width: 20px;
}

.enemy-infobox-stat-block span {
    display: inline-block;
}

.enemy-infobox-stats-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    padding-left: 20px;
}

.enemy-infobox-title {
    background-color: var(--color-bg-schematic);
    color: var(--color);
    font-size: 2em;
    text-align: center;
    width: 100%;
}

enemy-infobox[tiny] .enemy-infobox-title {
    font-size: 1.5em;
}

.enemy-infobox-subtitle, .enemy-infobox select {
    background-color: var(--color-bg-schematic);
    color: var(--color);
    text-align: center;
}

.enemy-infobox-subtitle {
    margin-top: -8px;
    width: 100%;
}

.enemy-infobox select {
    text-align-last: center;
}

#enemy-infobox-crit-range,
#enemy-infobox-damage-range {
    flex-flow: row nowrap;
    font-size: 1.2em;
    justify-content: center;
}

#enemy-infobox-crit-range {
    color: var(--color-crit);
}

#enemy-infobox-unit-types {
    background-color: var(--color-bg-schematic);
    margin-top: -5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}

.enemy-infobox-perk-icon {
    font-size: 0.85em;
    margin: 3px 0;
    text-align: center;
}

.enemy-infobox-perk-icon * {
    pointer-events: none;
}

.enemy-infobox-perk-icon div {
    margin-top: -4px;
}

.enemy-infobox-perk-icon img {
    background-color: var(--color-strong);
    margin: 0 auto;
    width: 50px;
}

enemy-infobox[tiny] .enemy-infobox-perk-icon img {
    width: 30px;
}

/* tiny mode: don't show perk names */
enemy-infobox[tiny] .enemy-infobox-perk-name {
    display: none;
}

img.enemy-infobox-perk-icon-psionic {
    background-color: var(--color-psi);
}