perk-icon {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;

    width: fit-content;
}

perk-icon:not([hideName]):not([hideDescription]) {
    min-width: 250px;
    padding: 5px 8px;
}

perk-icon[hideDescription] > img,
perk-icon[hideName] > img {
    margin: auto;
}

perk-icon[selectable]:not([disabled]) {
    cursor: pointer;
}

perk-icon * {
    pointer-events: none;
}

perk-icon .perk-icon-description {
    margin-top: 4px;
    text-align: justify;
}

perk-icon .perk-icon-name {
    font-size: 0.85em;
    text-align: center;
}

perk-icon .perk-icon-gene-mod-costs {
    font-size: 0.9em;
    margin: 8px 0;
    text-align: center;
}

perk-icon .perk-icon-gene-mod-costs img {
    background-color: transparent;
    margin-bottom: -3px;
    width: 18px;
}

perk-icon .perk-icon-stats {
    font-size: 0.9em;
    margin: 2px 0 6px 0;
}

perk-icon[hideDesc] .perk-icon-description,
perk-icon[hideName] .perk-icon-description {
    display: none;
}

perk-icon[hideName] .perk-icon-name {
    display: none;
}

perk-icon:not([classId]) .perk-icon-stats,
perk-icon[hideDesc] .perk-icon-stats,
perk-icon[hideName] .perk-icon-stats {
    display: none;
}

perk-icon > img {
    background-color: var(--color-strong);
    margin: 0 auto;
    width: 50px;
}

perk-icon[disabled] {
    filter: brightness(0.5);
}

perk-icon[disabled] > img,
perk-icon[inactive] > img {
    background-color: transparent;
}

perk-icon[selected] > img {
    background-color: var(--color);
}

perk-icon:not([perkId^=gene]) .perk-icon-gene-mod-costs,
perk-icon[hideDesc] .perk-icon-gene-mod-costs,
perk-icon[hideName] .perk-icon-gene-mod-costs {
    display: none;
}

perk-icon[perkId^=gene][selectable]:not([disabled]):hover > img,
perk-icon[perkId^=gene][selected] > img {
    background-color: var(--color-meld);
}

perk-icon[perkId^=psi] > img {
    background-color: var(--color-psi);
}

perk-icon[perkId^=psi][inactive] > img {
    background-color: var(--color-psi-subtle);
}

perk-icon[perkId^=psi][selectable]:not([disabled]):hover > img,
perk-icon[perkId^=psi][selected] > img {
    background-color: var(--color-psi-strong);
}

perk-icon[selectable]:not([disabled]):hover {
    background-color: var(--color-bg-subtle);
}

perk-icon[selectable]:not([disabled]):hover > img,
perk-icon[selected] > img {
    background-color: var(--color-strong);
}