single-select-list {
    border: 1px solid var(--color-border-subtle);
    display: inline-block;
    list-style-type: none;
}

single-select-list > li {
    align-items: center;
    padding: 3px 14px;
    text-align: center;
}

single-select-list[disabled] > li {
    background-color: #222;
    color: #888;
}

single-select-list:not([disabled]) > li {
    cursor: pointer;
}

single-select-list:not([disabled]) > li:hover {
    background-color: var(--color-bg-subtle);
}

single-select-list:not([disabled]) li.ssl-selected {
    background-color: var(--color-bg-subtle);
    font-weight: bold;
}

single-select-list .ssl-title {
    background-color: var(--color-bg-subtle);
    border-bottom: 1px solid var(--color-border-subtle);
    color: var(--color);
    padding: 3px 14px;
    text-align: center;
    text-transform: uppercase;
}

single-select-list[disabled] .ssl-title {
    background-color: #222;
    color: #bbb;
}