<template id="template-confirm-modal">
    <div id="confirmation-modal" class="standard-modal">
        <h3 id="modal-title"></h3>
        <div id="modal-content"></div>
        <div class="buttons-container">
            <button id="modal-confirm" class="xcom">Confirm</button>
            <button id="modal-cancel" class="xcom">Cancel</button>
        </div>
    </div>
</template>

<template id="template-message-modal">
    <div id="message-modal" class="standard-modal">
        <h3 id="modal-title"></h3>
        <div id="modal-content"></div>
        <div class="buttons-container">
            <button id="modal-close" class="xcom">Close</button>
        </div>
    </div>
</template>