<template id="template-campaign-creation-wizard-page-3">
    <div class="standard-modal wizard-modal">
        <info-box>Everything you select here can be changed later.</info-box>
        <div class="wizard-body">
            <fieldset>
                <legend>Review settings</legend>

            </fieldset>

        </div>
        <div class="wizard-button-bar">
            <button id="btn-previous" class="xcom">Go Back</button>
            <button id="btn-next" class="xcom">Next Step</button>
        </div>
    </div>
</template>