/********************
* Styles for choosing and loading a loadout
********************/

#loadout-selection-controls {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--intra-group-control-gap);

    flex-grow: 1;
    max-width: 1000px;
}

#loadout-selection-controls > h3 {
    margin: 0 0 var(--intra-group-control-gap) 0;
    text-align: center;
}

#loadout-selection-controls single-select-list {
    max-height: 662px; /* at this point it's the same height as a loadout summary without notes */
    min-height: 218px; /* shows 6 items exactly without scrolling */
    width: 100%;
}

#loadout-selection-controls single-select-list img {
    height: 30px;
    margin-right: var(--intra-group-control-gap);
}

#loadout-selection-controls single-select-list li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    font-size: 1.2em;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}

#loadout-selection-controls single-select-list li * {
    pointer-events: none;
}

#loadout-selection-controls single-select-list li .saved-loadout-class-label {
    display: flex;
    align-items: center;
    justify-content: start;

    flex-shrink: 0;
    width: 150px;
}

#loadout-selection-controls single-select-list li .saved-loadout-name {
    display: flex;
    align-items: center;
    justify-content: start;

    flex-grow: 1;
    overflow: hidden;
}

#loadout-selection-controls #selection-control-buttons-container {
    display: flex;
    flex-flow: row nowrap;

    gap: var(--intra-group-control-gap);
}

#loadout-selection-controls #selection-control-buttons-container button {
    flex-grow: 1;
    max-width: 150px;
}

#loadout-selection-controls #selection-control-buttons-container button:last-of-type {
    margin-left: auto;
}

/* styles for class selection modal */

#class-selection-modal {
    padding: 10px 20px;
}

#class-selection-modal h1 {
    margin: 0;
    text-align: center;
}

#class-selection-modal h3 {
    margin-top: 18px;
    margin-bottom: 4px;
}

#class-selection-modal .class-selection-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: var(--intra-group-control-gap);
}

#class-selection-modal .class-selection-grid .class-selection-grid-entry {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    cursor: pointer;
    padding: 8px 0;
    text-align: center;
}

#class-selection-modal .class-selection-grid .class-selection-grid-entry.disabled {
    cursor: default;
    filter: grayscale(1) brightness(0.5);
}

#class-selection-modal .class-selection-grid .class-selection-grid-entry:not(.disabled):hover {
    background-color: var(--color-bg-subtle);
}

#class-selection-modal .class-selection-grid .class-selection-grid-entry * {
    pointer-events: none;
}

#class-selection-modal .class-selection-grid .class-selection-grid-entry img {
    margin-bottom: 2px;
    width: 64px;
}