#loadout-home-page #loadout-main-menu {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--intra-group-control-gap);

    top: 60px;
    left: 45px;
    position: relative;
    width: fit-content;
}

#loadout-home-page #loadout-main-menu button {
    font-size: 1.25em;
    width: 300px;
}

#loadout-home-page #loadout-main-menu #loadout-main-menu-outline {
    position: absolute;
    top: -45px;
    left: -50px;

    pointer-events: none;
    width: 375px;
    height: 650px;
}

#loadout-home-page #loadout-main-menu #loadout-main-menu-selected-option-description {
    display: flex;
    align-items: flex-start;

    position: relative;
    top: 150px;

    border-top: 1px solid var(--color);
    flex-grow: 1;
    font-size: 1.4em;
    height: 100px;
    padding-top: 5px;
    width: 300px;
}

#loadout-home-page #loadout-name-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--intra-group-control-gap);

    margin-bottom: var(--inter-group-gap);
}

#loadout-home-page #loadout-name-container #loadout-name {
    font-size: 2em;
    margin: 0;
}

#loadout-home-page #loadout-name-container #loadout-edit-name {
    cursor: pointer;
    font-size: 1.75em;
}

#loadout-home-page #loadout-name-container #loadout-edit-name:hover {
    filter: brightness(1.1);
}

#tech-details-time-discard-button {
    color: var(--color-red);
    cursor: pointer;
    font-size: 1.5em;
}

#loadout-home-page #loadout-name-edit-container #loadout-name-input {
    font-size: 1.5em;
}

#loadout-home-page #loadout-name-edit-container #loadout-name-save-button {
    color: var(--color-green);
    cursor: pointer;
    font-size: 1.5em;
}

#loadout-home-page #loadout-name-edit-container #loadout-name-discard-button {
    color: var(--color-red);
    cursor: pointer;
    font-size: 1.5em;
}

#notes-input {
    font-family: sans-serif;
    font-size: 1.1em;

    height: 300px;
    resize: none;
    width: 400px;
}