.soldier-loadout-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    min-height: 100%;
    height: fit-content;

    min-width: 100%;
    width: fit-content;
}

.soldier-loadout-page loadout-summary {
    margin-left: 40px;
}

.soldier-loadout-page #return-to-loadout {
    margin: 0 auto;
    width: 400px;
}