#base-facility-content-section {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 30px;
    padding-top: 20px;
}

#base-facility-leads-to-research,
#base-facility-prerequisites {
    display: flex;
    flex-flow: column wrap;
    max-height: calc(20em - 1.2em - 8px);
}

#base-facility-cost-container {
    max-height: 160px;
}

.base-facility-cost-quantity {
    flex-shrink: 0;
    margin-right: 5px;
    text-align: right;
    width: 36px;
}

.base-facility-cost-type {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2px;
    justify-content: right;
    width: 100%;
}

#base-facility-build-normal {
    border-right: 1px solid var(--color-subtle);
    flex-shrink: 0;
    width: 29%;
}

#base-facility-build-quick {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    width: 29%;
}

#base-facility-stats-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    border-left: 1px solid var(--color-subtle);
}

/**
 * Generalized styles for use in the main body of the page
 */

.base-facility-stats-heading {
    width: 150px;
}

.base-facility-stats-row {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;

    border-bottom: 1px solid var(--color-subtle);
}

.base-facility-stats-value {
    height: 100%;

    display: flex;
    align-items: center;
}

/**
 * Sizing/styles for each individual row
 */

#base-facility-header-row {
    margin-bottom: 15px;
    height: 13em;
}

#base-facility-second-row {
    height: 12em;
}

#base-facility-details-row {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    min-height: 200px;
}

#base-facility-details-row ul {
    margin-block-start: 0;
}

/***************************
 * Foundry browse page
 ***************************/

.base-facility-browse-container {
    display: grid;
    grid-template-columns: 130px minmax(120px, auto) 115px 70px 110px repeat(3, 50px) 160px;
    margin: 0px 20px;
}

.base-facility-browse-container > div {
    border: 1px solid var(--color-border-subtle);
    padding: 5px 6px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* to combine adjacent borders */
    margin-top: -1px;
    margin-left: -1px;
}

.base-facility-browse-container img {
    margin: 0 auto;
    height: 20px;
    width: 40px;
}

.base-facility-img-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.base-facility-browse-container img.base-facility-meld-icon {
    width: 25px;
}

div.base-facility-browse-money-icon {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.facility-browse-cost-type {
    text-align: right;
}

base-facility-browse-preview-header div {
    background-color: var(--color-bg-subtle);
}