#campaign-planner-page {
    display: flex;
    flex-flow: column nowrap;

    height: 100%;
}

#campaign-planner-page #campaign-planner-view-selector {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    justify-content: center;

    white-space: nowrap;

    /* Establish a new stacking context so we can use z-index in the selected child */
    position: relative;
    z-index: 0;
}

#campaign-planner-page #campaign-planner-view-selector .view-selector-item {
    background-color: var(--color-bg-subtle);
    border: 1px solid var(--color-border-subtle);
    cursor: pointer;
    font-size: 1.3em;
    margin-left: -1px;
    padding: 4px 12px;
    text-align: center;
    width: 160px;
}

#campaign-planner-page #campaign-planner-view-selector .view-selector-item[disabled] {
    color: gray;
    pointer-events: none;
}

#campaign-planner-page #campaign-planner-view-selector .view-selector-item.selected {
    background-color: var(--color-bg-schematic-light);
    border: 1px solid var(--color-border);
    color: var(--color);
    font-weight: bold;
    z-index: 1;
}

#campaign-planner-page #campaign-planner-view-selector #change-campaign {
    display: flex;
    align-items: center;

    font-size: 1.1em;
    height: 100%;
    padding-right: 10px;
}

#campaign-planner-page #campaign-planner-active-view-container {
    border: 1px solid var(--color-border-subtle);
    flex-grow: 1;
    margin-top: -1px;
    height: calc(100% - 40px);
    width: 100%;
}

#campaign-planner-page #campaign-planner-active-view-container #create-or-load-campaign-warning {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    height: 100%;
    margin: auto;
    text-align: center;
    width: 370px;
}

/* Styles specific to facilities view */

#campaign-planner-page #campaign-planner-active-view-container #campaign-planner-facilities-view {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#campaign-planner-page #campaign-planner-active-view-container #campaign-planner-facilities-view #facility-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px 50px;

    font-size: 1.3em;
    padding: 13px 0;
    width: 100%;
}

#campaign-planner-page #campaign-planner-active-view-container #campaign-planner-facilities-view #facility-controls {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Styles specific to research view */

#campaign-planner-page #campaign-planner-active-view-container #campaign-planner-research-view {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    overflow-y: auto;
}

#campaign-planner-page #campaign-planner-active-view-container #research-controls {
    padding: 8px;
}

#campaign-planner-page #campaign-planner-active-view-container #research-list {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 10px;
    margin: 12px 0;
}

#campaign-planner-page #campaign-planner-active-view-container #research-list research-project:not(:first-child) {
    margin-top: -1px;
}

#campaign-planner-page #campaign-planner-active-view-container #research-help {
    margin-left: 24px;
    min-width: 450px;
}

/* Styles specific to timeline view */

#campaign-planner-page #campaign-planner-active-view-container #campaign-planner-timeline-view {
    height: 100%;
    overflow-y: auto;
}

#campaign-planner-page #campaign-planner-active-view-container #timeline-list {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 10px;
    margin: 12px 0;
}

#campaign-planner-page #campaign-planner-active-view-container #timeline-list .campaign-planner-timeline-view-separator {
    border-bottom: 1px solid cyan;
    font-size: 1.4em;
    margin-bottom: 8px;
    margin-top: 15px;
    padding-left: 4px;
}

#campaign-planner-page #campaign-planner-active-view-container #timeline-list .campaign-planner-timeline-view-separator:first-child {
    margin-top: 0;
}

/* Styles specific to campaign selection modal */

#modal-contents #campaign-planner-change-campaign {
    padding: 13px;
    text-align: center;
}

#modal-contents #campaign-planner-change-campaign #buttons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-top: 13px;
    width: 500px;
}

#modal-contents #campaign-planner-change-campaign single-select-list#campaign-list {
    width: 500px;
}

#modal-contents #campaign-planner-change-campaign single-select-list#campaign-list li {
    display: grid;
    grid-template-columns: 52px max-content;
    gap: 0 15px;
    padding-bottom: 6px;
    padding-top: 6px;
}

#modal-contents #campaign-planner-change-campaign single-select-list#campaign-list li .active-label {
    background-color: var(--color-bg-subtle);
    border: 1px solid var(--color-border-subtle);
    color: var(--color-green);
}

#modal-contents #campaign-planner-change-campaign single-select-list#campaign-list li.ssl-selected .active-label {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    color: var(--color-green-bright);
    font-weight: normal;
}