#enemy-overview {
    display: flex;
    flex-flow: row nowrap;
}

#enemy-overview summary {
    color: var(--color);
    cursor: pointer;
    font-weight: bold;
}

#enemy-overview details[open] summary {
    background-color: var(--color-bg-subtle);
}

#enemy-difficulty-toggle-group {
    margin-bottom: 30px;
    margin-right: 50px;
}

#enemy-difficulty-toggle-group,
#enemy-page-mode-toggle-group {
    font-size: 1.2em;
}

#enemy-overview-right-column {
    margin-left: 20px;
}

#enemy-point-in-time {
    display: flex;
    flex-flow: row nowrap;
}

#enemy-point-in-time enemy-infobox {
    margin-bottom: 20px;
}

#enemy-pit-ar-input {
    width: 65px;
}

#enemy-pit-campaign-date-input {
    height: fit-content;
    margin-left: 6px;
}

#enemy-pit-info-message {
    margin-top: 13px;
    width: 750px;
}

#enemy-pit-min-research-by-date {
    font-weight: bold;
}

.enemy-upgrades-container img {
    width: 24px;
}

.enemy-upgrades-container * {
    text-align: center;
}

details .grid-container {
    margin-left: 25px;
}

#enemy-page-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.enemy-section-content {
    display: flex;
    flex-flow: column nowrap;

    padding: 13px 20px 30px 20px;
}
