/* Standard home page functionality */

#changelog {
    border-top: 1px solid var(--color-border);
    padding-top: 25px;
}

#changelog details[open] summary {
    background-color: var(--color-bg-subtle);
}

#changelog summary {
    cursor: pointer;
    font-size: 1.12em;
    font-weight: 600;
}

.changelog-version {
    margin-bottom: 40px;
}

.changelog-version div {
    margin-left: 10px;
}

.changelog-version h3 {
    margin-left: 10px;
    margin-top: 12px;
}

#home-welcome-text {
    padding-bottom: 25px;
}

/* Modal for prompting new campaign creation */

#create-campaign-prompt-modal {
    text-align: center;
}

#create-campaign-prompt-modal h4 {
    font-size: 1.2em;
    margin: 0;
}

#create-campaign-prompt-modal #create-campaign-choices-container {
    display: flex;
    flex-flow: row nowrap;

    border-top: 1px solid var(--color-border);
    margin-top: var(--inter-group-gap);
}

#create-campaign-prompt-modal #campaign-choice-create-new,
#create-campaign-prompt-modal #campaign-choice-skip-creation {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 8px;
    text-align: center;

    height: 140px;
    width: 50%;
}

#create-campaign-prompt-modal #campaign-choice-create-new {
    border-right: 1px solid var(--color-border);
    margin-right: -1px;
}