/***************************
 * Styles for preview rendering
 ***************************/

#perk-preview-cost {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 25px;
    min-width: 40px;
}

#perk-preview-cost > div {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 21px;
    justify-content: center;
    margin-left: 10px;
    width: 35px;
}

#perk-preview-description {
    padding-left: 5px;
    margin-top: 7px;
}

#perk-preview-header-row {
     display: flex;
     flex-flow: row nowrap;
     height: 48px;
}

#perk-preview-icon img {
    width: 48px;
}

#perk-preview-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
}

.preview-gene-mod-icon {
    background-color: var(--color-meld);
}

.preview-perk-icon {
    background-color: var(--color-strong);
}

.preview-psi-ability-icon {
    background-color: var(--color-psi);
}