#tech-details-leads-to-research,
#tech-details-prerequisites {
    display: flex;
    flex-flow: column wrap;
    max-height: calc(20em - 1.2em - 8px);
}

#tech-details-cost-container {
    height: 130px;
}

#tech-details-time-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.2em;
    justify-content: center;
}

#tech-details-page input[type=number]#num-scientists {
    width: 40px;
}

#tech-details-page input[type=number]#num-adjacencies,
#tech-details-page input[type=number]#num-labs {
    width: 30px;
}

#tech-details-time-discard-button {
    color: var(--color-red);
    cursor: pointer;
    font-size: 1.5em;
}

#tech-details-time-save-button {
    color: var(--color-green);
    cursor: pointer;
    font-size: 1.5em;
}

.tech-details-cost-quantity {
    margin-right: 5px;
    text-align: right;
    width: 36px;
}

.tech-details-cost-type {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2px;
    justify-content: right;
    width: 50%;
}

/**
 * Sizing/styles for each individual row
 */

#tech-details-second-row {
    height: 12em;
}

#tech-details-main-row {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    min-height: 200px;
}

#tech-details-bottom-row {
    height: 20em;
}

#tech-details-unlocks {
    height: calc(100% - 3 * 12em - 1em);
}