#foundry-project-leads-to-research,
#foundry-project-prerequisites {
    display: flex;
    flex-flow: column wrap;
    max-height: calc(20em - 1.2em - 8px);
}

#foundry-project-cost-container {
    height: 130px;
}

#foundry-project-time-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.2em;
    justify-content: center;
}

.foundry-project-cost-quantity {
    margin-right: 5px;
    text-align: right;
    width: 36px;
}

.foundry-project-cost-type {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2px;
    justify-content: right;
    width: 50%;
}

/**
 * Sizing/styles for each individual row
 */

#foundry-project-second-row {
    height: 10.5em;
}

#foundry-project-main-row {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    min-height: 200px;
}

#foundry-project-bottom-row {
    height: 20em;
}

#foundry-project-unlocks {
    max-height: 13em;
}

/***************************
 * Foundry browse page
 ***************************/

#foundry-project-browse-content-section summary {
    font-size: 1.6em;
    padding-bottom: 8px;
    padding-left: 10px;
}

#foundry-project-browse-content-section details {
    margin-bottom: 15px;
}

.foundry-browse-container {
    display: grid;
    grid-template-columns: 130px auto 110px repeat(5, 50px) 160px;
    margin: 0px 20px;
}

.foundry-browse-container > div {
    border: 1px solid var(--color-border-subtle);
    padding: 5px 6px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* to combine adjacent borders */
    margin-top: -1px;
    margin-left: -1px;
}

.foundry-browse-container img {
    margin: 0 auto;
    height: 20px;
    width: 40px;
}

.img-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foundry-browse-container img.meld-icon {
    width: 25px;
}

div.foundry-browse-money-icon {
    font-size: 1.5em;
    padding-bottom: 10px;
}

#foundry-browse-cost-money,
#foundry-browse-cost-alien-alloys,
#foundry-browse-cost-weapon-fragments,
#foundry-browse-cost-elerium,
#foundry-browse-cost-meld {
    text-align: right;
}

foundry-project-browse-preview-header div {
    background-color: var(--color-bg-subtle);
}