/* Fonts ---------------------------- */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}


/* Global ---------------------------- */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  color: var(--color);
  background-color: var(--color-bg);
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

::-webkit-scrollbar {
    /* depending on whether the scrollbar is horizontal/vertical, only one of height/width will be applied */
    height: 2px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-strong);
}

a {
  color: var(--color);
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

select {
    color: var(--color);
}

svg {
  fill: currentColor;
}


/* Utilities ---------------------------- */

.u-avoid-clicks {
  pointer-events: none;
}

/* Visually hidden, but will be read by screen readers */
.u-visible-to-screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.no-display {
  display: none;
}


/* Content ------------------ */

.color-standard {
    color: var(--color);
}

.color-subtle {
    color: var(--color-subtle);
}


.content {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.flex-column-bottom {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.flex-grow {
    flex-grow: 1;
}

.flex-single-row {
    display: flex;
    flex-flow: row nowrap;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.hidden-collapse {
    display: none !important;
}

.inline-help-icon {
    background-color: var(--color-strong);
    margin-left: 4px;
    height: 20px;
    width: 20px;
}

img.inline-resource-icon {
    margin-right: 4px;
    height: 16px;
}

input[type="date"], input[type="number"], input[type="text"]  {
    background-color: #777;
    color: var(--color);
    padding: 2px 5px;
}

input[type="date"]:focus, input[type="number"]:focus, input[type="text"]:focus {
    box-shadow: none;
    outline: 1px solid var(--color-subtle);
}

input[type="text"]::placeholder {
    color: var(--color-subtle);
}

input[type=number].hide-number-spinners::-webkit-inner-spin-button,
input[type=number].hide-number-spinners::-webkit-outer-spin-button {
    appearance: none;
}

legend {
    font-size: 1.2em;
    padding: 0 9px;
}

span.inline-resource-icon {
    font-size: 16px;
    margin-right: 2px;
    text-align: center;
}

select {
    background-color: var(--color-bg-nav);
    color: var(--color-subtle);
}

.standard-page {
    padding: var(--page-content-padding-vert) var(--page-content-padding-horiz);
}

.grid-container {
    display: grid;
}

.grid-header,
.grid-value {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-border-subtle);
    padding: 4px 7px;

    /* collapse borders */
    margin-left: -1px;
    margin-top: -1px;
}

.grid-header {
    background-color: var(--color-bg-subtle);
}

.tooltip {
    position: absolute;
    z-index: 100000;

    background-color: var(--color-bg-subtle);
    border: 1px solid white;
    box-shadow: 0px 0px 6px 1px var(--color-subtle);
    font-size: 14px;

    pointer-events: none;
}

.preview-tooltip {
    min-width: 300px;
    max-width: 680px;
    padding: 10px 8px;
}

:not(input) {
    outline: none;
}

#easter-egg-amongus-pizza {
    position: absolute;
    filter: brightness(0.5) opacity(0.25);
    height: 100%;
    width: 100%;
}