#item-details-content-section {
    display: flex;
    flex-flow: column nowrap;
}

#item-details-normal-build-cost-container,
#item-details-quick-build-cost-container {
    max-height: 120px;
}

#item-details-prerequisites {
    display: flex;
    flex-flow: column wrap;
    max-height: calc(20em - 1.2em - 8px);
}

#item-details-tactical-text {
    padding: 0px;
}

.item-details-build-content {
    display: flex;
    flex-flow: row nowrap;
    height: calc(100% - 31px); /* magic to make sure normal and quick build are the same height even if one is naturally longer */
}

#item-details-cost-container {
    height: 130px;
    align-items: center;
}

.item-details-cost-quantity {
    flex-shrink: 0;
    margin-right: 5px;
    text-align: right;
    width: 36px;
}

.item-details-cost-type {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2px;
    width: 45%;
}

#item-details-description-container {
    padding-bottom: 10px;
}

table.item-stats-grid {
    border-collapse: collapse;
    margin: 15px;
    table-layout: fixed;
    width: 1px; /* hack to make sure the width of individual cells is actually used */
}

table.item-stats-grid th,
table.item-stats-grid td {
    border: 1px solid var(--color-border-subtle);
    width: 54px;
    text-align: center;
}

table.item-stats-grid th {
    padding-top: 4px;
}

table.item-stats-grid td {
    padding: 3px 0px;
}

table.item-stats-grid caption {
    border: 1px solid var(--color-border-subtle);
    font-weight: bold;
    margin-bottom: -1px;
    padding: 2px;
}

.item-stats-header-img {
    height: 24px;
    width: 24px;
}

/**
 * Sizing/styles for each individual row
 */

#item-details-second-row {
    height: 12em;
}

#item-details-used-in-container {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    min-height: 80px;
    min-width: 50%;
}

#item-details-used-in {
    min-height: calc(100% - 12em - 1em);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(50%, max-content) max-content;
}

#item-details-used-in div {
    margin-right: 16px;
}