#map-details-content-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: 10px 20px;
}

#map-details-map-data-container,
#map-details-mission-data-container {
    border: 1px solid var(--color-border-subtle);
    display: grid;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#map-details-map-data-container > div,
#map-details-mission-data-container > div {
    border: 1px solid var(--color-subtle);
}

#map-details-map-data-container {
    grid-template-columns: repeat(2, 1fr);
}

#map-details-mission-data-container {
    grid-template-columns: repeat(3, 1fr);
}

#map-details-name {
    font-size: 2em;
    text-align: center;
    width: 100%;
}

#map-details-image {
    display: block;
    max-width: 800px;
    width: 100%;
}

.map-details-data-column {
    grid-row-start: 2;
}

.map-details-data-column > div {
    padding: 5px 6px;
}

.map-details-mission-types-header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    margin-bottom: -1px;
    padding: 5px 6px;
}

.map-details-column-heading {
    background-color: var(--color-bg-subtle);
    border-bottom: 1px solid var(--color-subtle);
    color: var(--color);
    text-transform: uppercase;
}

/**
 * map-possibilities-page
 */

 #map-possibilities-content-section {
    padding: 20px 20px;
 }

 #map-possibilities-parameters {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 25px;
 }

 .map-possibilities-parameters-column {
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
 }

.map-possibilities-parameters-column > single-select-list {
    width: 100%;
}

#map-possibilities-preamble {
    margin-bottom: 20px;
    text-align: center;
}

#map-possibilities-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    margin-top: 20px;
    width: 100%;
}

#map-possibilities-results-summary {
    font-size: 1.3em;
    margin-top: 60px;
    text-align: center;
}

.map-possibilities-map-preview {
    padding: 8px 15px;
    text-decoration: none;
}

.map-possibilities-map-preview:hover {
    background-color: var(--color-bg-subtle);
}

.mpm-preview-name,
.mpm-preview-image {
    cursor: pointer;
}

.mpm-preview-name {
    font-size: 1.2em;
    margin-bottom: 6px;
    text-align: center;
}