body[modal],
body[modal] * {
    pointer-events: none;
}

body[modal] #modal-container,
body[modal] #modal-container * {
    pointer-events: initial;
}

#modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10000;
}

#modal-background {
    background-color: rgba(100, 100, 100, 0.75);
    height: 100%;
    width: 100%;
}

#modal-contents {
    position: absolute;

    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    padding: 0px;
    z-index: 10001;

    height: fit-content;
    width: fit-content;
}

/* styles for pre-built types of modals */

.standard-modal {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--intra-group-control-gap);

    padding: 13px;
}

.standard-modal .buttons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.standard-modal .buttons-container button {
    width: 100px;
}

.standard-modal h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    text-align: center;
}