/* Nav */

.nav {
  width: var(--nav-width);
  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--color-bg-nav);
  border-right: 1px solid var(--color-border);
  color: var(--color-subtle);

  display: flex;
  flex-flow: column nowrap;
}

.nav-header {
  position: relative;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
  height: 6em;
  flex-grow: 0;
}

.nav-header-version {
    margin-block-start: 0;
    text-align: right;
}

.nav-title {
  color: var(--color);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.nav-title strong {
  font-weight: 600;
  color: var(--color-strong);
}

.nav-title a {
  text-decoration: none !important;
}

.nav-body {
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-item {
  padding: 0.5em 0;
  margin-bottom: 5px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  vertical-align: top;
  margin-right: 6px;
}

.nav-category {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  font-size: 14px;
  font-weight: normal;
  margin: 0.2em 0;
  padding-bottom: 3px;
  position: relative;
  text-transform: uppercase;
}

/* Style to apply a partial border on nav categories */
.nav-category::before {
  content: "";
  border-bottom: 1px solid var(--color-border-subtle);
  position: absolute;
  bottom: 0px;
  left: 30px;
  right: 0px;
  height: 1px;
}

.nav-button,
.nav-container,
.nav-container-label {
  display: block;
  line-height: 2;
  text-align: left;
  font: inherit;
  font-size: 13px;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.nav-container-label {
  padding-left: 36px;
}

.nav-container {
    padding: 0.3rem 0.3rem 0.3rem 0;
}

.nav-button {
  cursor: pointer;
  padding: 0.3rem;
  padding-left: 36px;
}

.nav-button:hover {
  background-color: hsla(0, 0%, 0%, 0.4);
  color: var(--color);
}

.subnav-button {
  padding-left: calc(36px + 1.5rem);
}

.nav-footer {
  color: var(--color-subtle);
  margin-top: 1rem;
  padding: 2rem;
  border-top: 1px solid var(--color-border);
  text-align: center;
  flex-grow: 0;
}

.nav-footer-icon {
  width: calc(770px / 6.5);
  height: calc(88px / 6.5);
}

.nav-subsection-container {
  padding-top: 0.25rem;
}

.nav-button.not-implemented,
.nav-container.not-implemented,
.nav-subsection-container.not-implemented {
    color: #D86E6E;
    position: relative;
}

.nav-button.not-implemented:before,
.nav-container.not-implemented:before,
.nav-subsection-container.not-implemented:before {
    content: "This functionality is not yet available.";
    position: absolute;

    top: 50%;
    transform: translateY(-120%);

    right: 0%;
    margin-right: 15px;

    background-color: white;
    color: black;
    font-size: 1em;
    max-width: 125px;
    padding: 5px;
    pointer-events: none;
    text-align: center;
    z-index: 100;

    opacity: 0;
    transition: 0.4s opacity;
}

.nav-button.not-implemented:hover:before,
.nav-container.not-implemented:hover:before,
.nav-subsection-container.not-implemented:hover:before {
    opacity: 1;
}

.nav-search-bar {
    margin-bottom: 5px;
    width: 100%;
}

#nav-search-input {
    background-color: #777;
    padding: 2px 5px;
    width: 100%;
}
