/* Section ------------------ */

.section {
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  color: var(--color-accent);
}

.section-header {
    border-bottom: 1px solid var(--color-border);
    font-size: 2em;
    height: 6rem;
    line-height: 1;
    padding: 2rem 1.25rem 1rem 1.25rem;
    position: relative;
}

.section-wrapper {
    display: flex;
    align-items: center;
}

.section-wrapper img {
    height: 1.2em;
    margin-right: 12px;
}

.section-content {
    min-height: 100%;
    padding-top: 10px;
}

.section-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: .5em;
}

#history-buttons-container {
    position: absolute;
    left: 10px;
    bottom: -1px;
}

#history-buttons-container img {
    cursor: pointer;
    filter: brightness(1.2);
    height: 20px;
}

#history-buttons-container img.disabled {
    opacity: 0.5;
}

#history-buttons-container img:not(.disabled):active {
    filter: brightness(1.8);
    opacity: 1;
}

#page-title-container {
    margin-top: -12px;
    margin-left: 0px;
}