/* Section ------------------ */

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  color: var(--color-accent);
}

.section h3,
.section p {
  color: var(--color);
}

.section-header {
    border-bottom: 1px solid var(--color-border);
    font-size: 2em;
    height: 6rem;
    line-height: 1;
    padding: 2rem 2rem 1rem 2rem;
}

.section-content {
    height: calc(100% - 6em);
    padding-top: 10px;
}

.section-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: .5em;
}
