.centered-horiz {
    margin-left: auto;
    margin-right: auto;
}

.column-heading {
    background-color: var(--color-bg-subtle);
    border-bottom: 1px solid var(--color-subtle);
    border-top: 1px solid var(--color-subtle);
    color: var(--color);
    padding: 4px 0px;
    text-align: center;
    text-transform: uppercase;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.flex-column-wrap {
    display: flex;
    flex-flow: column wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.inline-icon {
    margin-right: 6px;
    width: 20px;
}

.row-heading {
    background-color: var(--color-bg-subtle);
    border-right: 1px solid var(--color-subtle);
    color: var(--color);
    height: 100%;
    padding: 4px 4px;
    margin-right: 8px;
    text-align: center;
    text-transform: uppercase;

    /* flex display to get text centered */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-only-tooltip {
    padding: 10px;
    max-width: 350px;
}

.tooltip-row-content {
    border-bottom: 1px solid var(--color-subtle);
    color: var(--color);
    height: 100%;
    padding: 4px 4px;

    /* flex display to get text centered */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-row-heading {
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-subtle);
    border-right: 1px solid var(--color-subtle);
    color: var(--color);
    height: 100%;
    padding: 4px 4px;
    text-align: center;

    /* flex display to get text centered */
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
 * Styles commonly used for detail pages (e.g. tech-details-page, item-display-page)
 */

.details-column-body {
    padding: 10px 13px 15px 13px;
    flex-grow: 1;
}

.details-header-content-container {
    display: flex;
    flex-flow: column nowrap;

    flex-grow: 1;
    text-align: center;
}

.details-header-description {
    flex-grow: 1;
    padding: 5px 10px;
    margin-right: 18px;
    overflow: auto;
}

.details-header-extra {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    height: 21px;
    margin-top: 12px;
}

.details-header-img-container {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 40%;
}

.details-header-img-container img {
    margin: auto 0;
    max-width: 256px;
}

.details-header-row {
    display: flex;
    flex-flow: row nowrap;

    margin-bottom: 12px;
    height: 12em;
}

.details-header-title {
    font-size: 2em;
    height: 40px;
    width: 100%;
}

.details-list {
    margin-block-start: 0;
    padding-inline-start: 13px;
}

.details-left-column {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    min-width: 50%;
}

.details-right-column {
    border-left: 1px solid var(--color);
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.details-left-column.hidden-collapse + .details-right-column {
    border-left: none;
}

/**
 * Styles for page previews in tooltips
 */

.preview-description {
    padding-left: 5px;
    margin-top: 13px;
    word-wrap: normal;
}

.preview-header {
    display: flex;
    flex-flow: row nowrap;
    height: 48px;
}

.preview-img-schematic {
    background-color: var(--color-bg-schematic);
    outline: 1px solid var(--color-border-schematic);
    padding: 4px 2px;
    width: 88px;
}

.preview-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
}

/**
 * Miscellaneous
 */

.wizard-modal {
    display: flex;
    flex-flow: column;
    align-items: center;

    max-height: 60%;
    max-width: 780px;
}

.wizard-modal button.xcom {
    padding-left: 5px;
    padding-right: 5px;
}

.wizard-modal info-box {
    margin-bottom: 5px;
}

.wizard-modal .wizard-button-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    width: 100%;
}