.soldier-class-grid {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.soldier-grid-cell {
    flex-grow: 1;
    flex-shrink: 1;

    padding: 10px;
    min-width: 45%;
}

.soldier-grid-cell:hover {
    background-color: var(--color-highlight);
}

.soldier-grid-cell:active {
    background-color: var(--color-strong);
}

.soldier-grid-cell > .selectable-icon-image,
.soldier-grid-cell > .selectable-icon-text {
    pointer-events: none;
}