#tech-tree-preview {
    left: 0;
    bottom: 0;
    height: 400px;
    width: 400px;
}

#tech-tree-content-section {
    height: calc(100% - 6em);
}

.tech-tree-tooltip {
    background-color: var(--color-bg-subtle);
    border: 1px solid white;
    box-shadow: 0px 0px 6px 1px var(--color-subtle);
}