
/* Custom Properties */

:root {
  --color:          #9aeaef;
  --color-link:     #9aeaef;
  --color-strong:   #00e1ef;
  --color-subtle:   #aad7da;

  --color-border:   hsl(0, 0%, 88%);
  --color-border-subtle:   hsl(0, 0%, 50%);
  --color-border-schematic: #34696e;

  --color-bg:       #333;
  --color-bg-nav:       #232326;
  --color-bg-schematic: #172e30;
  --color-bg-schematic-light: #32494d;
  --color-bg-subtle:#444;

  --color-accent:   #00f0ff;
  --color-highlight: #888;
  --color-highlight-subtle: #555;

  --color-crit: #e0cb19;
  --color-green: #32CD32; /* money, positive messages, etc */
  --color-meld: #f7931d;
  --color-red: #fc5c51;

  --color-psi: #a19ed8;
  --color-psi-strong: #6861d8;
  --color-psi-subtle: #cbcad8;

  --nav-width: 220px;
}