
/* Custom Properties */

:root {
  --color:          rgba(154, 234, 239, 1);
  --color-semi-trans: rgba(154, 234, 239, 0.5);
  --color-strong:   rgba(0, 225, 239, 1);
  --color-subtle:   #aad7da;

  --color-border:   hsl(0, 0%, 88%);
  --color-border-subtle:   hsl(0, 0%, 50%);
  --color-border-schematic: #34696e;

  --color-bg:       #333;
  --color-bg-nav:       #232326;
  --color-bg-schematic: #172e30;
  --color-bg-schematic-light: #32494d;
  --color-bg-subtle:#444;

  --color-accent:   #00f0ff;
  --color-highlight: #888;
  --color-highlight-subtle: #555;

  --color-crit: #e0cb19;
  --color-gold: goldenrod; /* some icons, priority interactable elements, etc */
  --color-green: #32CD32; /* money, positive messages, etc */
  --color-meld: #f7931d;
  --color-red: #fc5c51;

  --color-psi: #a19ed8;
  --color-psi-strong: #6861d8;
  --color-psi-subtle: #cbcad8;

  --footer-border-width: 1px;
  --footer-height: 99px;
  --footer-margin-top: 20px;
  --nav-width: 220px;

  --intra-group-control-gap: 8px;
  --inter-group-gap: 13px;
  --page-content-padding-horiz: 20px;
  --page-content-padding-vert: 20px;
}