.selectable-icon {
    line-height: 1;
    text-align: center;
}

.selectable-icon-grow {
    height: 100%;
    width: 100%;

    max-height: 128px;
    max-width: 128px;
}

.selectable-icon-medium {
    height: var(--icon-size-medium);
    width: var(--icon-size-medium);
}

.selectable-icon-large {
    height: var(--icon-size-large);
    width: var(--icon-size-large);
}

.selectable-icon-image {
    height: var(--icon-image-size);
    width: var(--icon-image-size);

    max-height: 96px;
    max-width: 96px;
}

:root {
    --icon-size-medium: 64px;
    --icon-size-large: 96px;

    --icon-image-size: calc(100% - 1em);
}