/* button */

button.xcom {
    border: 1px solid var(--color);
    border-radius: 7px;
    border-top-left-radius: 0;

    background-color: var(--color-bg-nav);
    color: var(--color-strong);
    cursor: pointer;
    padding: 4px 6px;
}

button.xcom:active:not(.disabled),
button.xcom:hover:not(.disabled) {
    background: linear-gradient(180deg, rgba(161,201,205,0.35) 0%, rgba(161,201,205,0.25) 40%, rgba(161,201,205,0) 55%, rgba(161,201,205,0) 100%);
    color: var(--color);
}

button.xcom:active:not(.disabled) {
    filter: brightness(1.25);
}

button.xcom.disabled {
    cursor: default;
    filter: brightness(0.5);
    pointer-events: none;
}

/* checkbox */

input[type=checkbox].xcom {
    position: relative;
}

input[type=checkbox].xcom::before,
input[type=checkbox].xcom::after {
    content: "";
    border: 2px solid var(--color);

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    height: 11px;
    width: 11px;
}

input[type=checkbox].xcom::before {
    background: var(--color-bg);
}

input[type=checkbox].xcom:checked::before,
input[type=checkbox].xcom:checked::after {
    color: var(--color);
    font-size: 26px;
}

input[type=checkbox].xcom:checked::before {
    content: "◸";
}

input[type=checkbox].xcom:checked::after {
    content: "◹";
}

input[type=checkbox].xcom:hover::before,
input[type=checkbox].xcom:hover::after {
    filter: brightness(1.1);
}

/* textarea */

textarea.xcom {
    border: 1px solid var(--color);
    background-color: var(--color-bg-subtle);
    color: var(--color);
}