<template id="template-alien-research">
    <div>
        <div class="ar-amount"></div>
        <div class="ar-max-date" data-tooltip-template-file="assets/html/templates/custom-elements/alien-research.html" data-tooltip-template-id="template-ar-tooltip-max-date"></div>
    </div>
</template>

<template id="template-ar-tooltip-max-date">
    <div class="text-only-tooltip">
        This is the latest date at which the aliens will have this level of research, due to the aliens gaining 1 research every day. However, the aliens may reach
        this point earlier with sufficient bonus research from other sources.
        <br />
        <br />
        The campaign's start date is <strong>1 March, 2016</strong>.
    </div>
</template>
