<template id="template-base-facility-browse-preview">
    <div class="base-facility-browse-container">
        <div id="name"></div>
        <div id="description"></div>
        <div id="research-prereq"></div>
        <div id="power-usage"></div>
        <div id="maintenance-cost"></div>
        <div id="cost-money" class="facility-browse-cost-type"></div>
        <div id="cost-alien-alloys" class="facility-browse-cost-type"></div>
        <div id="cost-elerium" class="facility-browse-cost-type"></div>
        <div id="cost-other"></div>
    </div>
</template>

<template id="template-base-facility-browse-preview-header">
    <div class="base-facility-browse-container">
        <div>Facility Name</div>
        <div>Description</div>
        <div>Required Research</div>
        <div>Power</div>
        <div>Maintenance Cost</div>
        <div class="foundry-browse-money-icon">§</div>
        <div title="Alien Alloys" class="base-facility-img-icon"><img src="assets/img/item-icons/alien_alloy.png" /></div>
        <div title="Elerium" class="base-facility-img-icon"><img src="assets/img/item-icons/elerium.png" /></div>
        <div>Other</div>
    </div>
</template>
