<template id="template-facility-planner">
    <div class="facility-planner-container">
        <div class="facility-icon" data-facility-id="unexcavated" data-row="0" data-column="0"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="0" data-column="1"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="0" data-column="2"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="0" data-column="3"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="0" data-column="4"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="0" data-column="5"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="0" data-column="6"><div class="cancel"></div></div>

        <div class="facility-icon" data-facility-id="unexcavated" data-row="1" data-column="0"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="1" data-column="1"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="1" data-column="2"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="1" data-column="3"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="1" data-column="4"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="1" data-column="5"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="1" data-column="6"><div class="cancel"></div></div>

        <div class="facility-icon" data-facility-id="unexcavated" data-row="2" data-column="0"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="2" data-column="1"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="2" data-column="2"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="2" data-column="3"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="2" data-column="4"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="2" data-column="5"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="2" data-column="6"><div class="cancel"></div></div>

        <div class="facility-icon" data-facility-id="unexcavated" data-row="3" data-column="0"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="3" data-column="1"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="3" data-column="2"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="3" data-column="3"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="3" data-column="4"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="3" data-column="5"><div class="cancel"></div></div>
        <div class="facility-icon" data-facility-id="unexcavated" data-row="3" data-column="6"><div class="cancel"></div></div>
    </div>
</template>

<template id="template-facility-planner-build-modal">
    <div id="facility-planner-build-modal" class="standard-modal">
        <single-select-list id="facility-to-build" title="Choose Facility" prevent-deselect>
            <li data-facility-id="facility_access_lift">Access Lift</li>
            <li data-facility-id="facility_alien_containment">Alien Containment</li>
            <li data-facility-id="facility_elerium_generator">Elerium Generator</li>
            <li data-facility-id="facility_fission_generator">Fission Generator</li>
            <li data-facility-id="facility_foundry">Foundry</li>
            <li data-facility-id="facility_genetics_lab">Genetics Lab</li>
            <li data-facility-id="facility_gollop_chamber">Gollop Chamber</li>
            <li data-facility-id="facility_hyperwave_relay">Hyperwave Relay</li>
            <li data-facility-id="facility_laboratory">Laboratory</li>
            <li data-facility-id="facility_officer_training_school">Officer Training School</li>
            <li data-facility-id="facility_psionic_labs">Psionic Labs</li>
            <li data-facility-id="facility_repair_bay">Repair Bay</li>
            <li data-facility-id="facility_satellite_nexus">Satellite Nexus</li>
            <li data-facility-id="facility_satellite_uplink">Satellite Uplink</li>
            <li data-facility-id="facility_thermo_generator">Thermo Generator</li>
            <li data-facility-id="facility_workshop">Workshop</li>
        </single-select-list>
        <div class="flex-column">
            <img id="selected-facility-icon"></img>
            <div id="selected-facility-name">Name</div>
            <div id="selected-facility-cost">Required to Build:</div>
            <div id="selected-facility-summary">Summary</div>
            <info-box id="build-start-date-warning" messageType="warning"></info-box>
            <div id="controls">
                <div class="flex-row" style="gap: 0 18px">
                    <div>
                        <label for="build-start-date">Start on: </label>
                        <input id="build-start-date" type="date" />
                    </div>
                    <div>
                        Completes on: <span id="build-end-date"></span>
                    </div>
                </div>
                <div>
                    <label for="build-quickly">Build Quickly</label>
                    <input id="build-quickly" type="checkbox" />
                </div>
                <div class="flex-row" style="justify-content: space-between;">
                    <button id="build" class="xcom">Build Facility</build>
                    <button id="cancel" class="xcom">Cancel</build>
                </div>
            </div>
        </div>
    </div>
</template>