<template id="template-foundry-projects-browse-preview">
    <div class="foundry-browse-container">
        <div id="name"></div>
        <div id="description"></div>
        <div id="research-prereq"></div>
        <div id="foundry-browse-cost-money"></div>
        <div id="foundry-browse-cost-alien-alloys"></div>
        <div id="foundry-browse-cost-weapon-fragments"></div>
        <div id="foundry-browse-cost-elerium"></div>
        <div id="foundry-browse-cost-meld"></div>
        <div id="foundry-browse-cost-other"></div>
    </div>
</template>

<template id="template-foundry-projects-browse-preview-header">
    <div class="foundry-browse-container">
        <div>Project Name</div>
        <div>Description</div>
        <div>Required Research</div>
        <div class="foundry-browse-money-icon">§</div>
        <div title="Alien Alloys" class="img-icon"><img src="assets/img/item-icons/alien_alloy.png" /></div>
        <div title="Weapon Fragments" class="img-icon"><img src="assets/img/item-icons/weapon_fragment.png" /></div>
        <div title="Elerium" class="img-icon"><img src="assets/img/item-icons/elerium.png" /></div>
        <div title="Meld" class="img-icon"><img class="meld-icon" src="assets/img/misc-icons/meld.png" /></div>
        <div>Other</div>
    </div>
</template>